<h2 class="margin-bottom-5-i" fxLayout="row" fxLayoutAlign="space-between start" mat-dialog-title>
    <span *ngIf="!editMode">{{'service.dialog.create' | translate}}</span>
    <span *ngIf="editMode">{{'service.dialog.edit' | translate}}</span>
    <span><a href="https://docs.konghq.com/2.2.x/admin-api/#add-service" mat-button rel="noopener noreferrer" target="_blank">
    {{'text.documentation' | translate}}
        <mat-icon class="mini-icon">open_in_new</mat-icon></a></span>
</h2>

<mat-divider class="margin-bottom-20-i"></mat-divider>

<mat-dialog-content class="mat-typography" fxLayout="row" fxLayoutAlign="center start">
    <div fxFlex="90">
        <form [formGroup]="form">
            <!--Nombre-->
            <div class="margin-bottom-10" fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="space-between start">

                    <mat-form-field appearance="outline" class="margin-bottom-10" color="accent" fxFlex="50">
                        <mat-label>{{'service.dialog.name' | translate}}</mat-label>
                        <input aria-label="" cdkFocusInitial formControlName="name" matInput placeholder="{{'service.dialog.name_example' | translate}}"
                               required type="text"/>
                        <mat-error *ngIf="nameField.hasError('isAlphaNum')">
                            {{ 'service.dialog.error.name_pattern' | translate }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" color="accent" fxFlex="45">
                        <mat-chip-list #chipList aria-label="">
                            <mat-chip (removed)="removeTag(tag)"
                                      *ngFor="let tag of currentTags" removable="true">{{tag}}
                                <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>
                            <input (matChipInputTokenEnd)="addTag($event)"
                                   [matAutocomplete]="auto"
                                   [matChipInputFor]="chipList"
                                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                   formControlName="tags"
                                   matChipInputAddOnBlur="true"
                                   placeholder="{{'service.dialog.tags' | translate}}">
                        </mat-chip-list>
                        <mat-hint>{{'service.dialog.tags_hint' | translate}}</mat-hint>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedTag($event)">
                            <mat-option *ngFor="let tag of allTags" [value]="tag">
                                {{tag}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>

                <!--Tipo de entrada, shorthand o completa-->
                <mat-radio-group (change)="changeRadio()" aria-label="" class="margin-bottom-5" color="accent" formControlName="input_method" required>
                    <mat-radio-button value="url">{{'service.dialog.url' | translate}}</mat-radio-button>
                    <mat-radio-button class="margin-left-20" value="complete">{{'service.dialog.complete' | translate}}</mat-radio-button>
                </mat-radio-group>
                <!--Shorthand: url-->
                <div>
                    <mat-form-field [fxShow]="inputMethodField.value === 'url'" appearance="outline" class="margin-bottom-10" color="accent" fxFlex>
                        <mat-label>{{'service.dialog.url' | translate}}</mat-label>
                        <input aria-label="" formControlName="url" matInput placeholder="{{'service.dialog.url_example' | translate}}"
                               required
                               type="url"/>
                        <mat-hint>{{'service.dialog.url_hint' | translate}}</mat-hint>
                        <mat-error *ngIf="urlField.invalid">
                            {{ 'error.field_required' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <!--Completa-->
                <div [fxShow]="inputMethodField.value === 'complete'" class="margin-bottom-10" fxLayout="row" fxLayoutAlign="space-between start">
                    <mat-form-field appearance="outline" color="accent" fxFlex="15">
                        <mat-label>{{'service.dialog.protocol' | translate}}</mat-label>
                        <mat-select formControlName="protocol" required>
                            <mat-option *ngFor="let proto of validProtocols" value="{{proto}}">{{proto}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="protocolField.invalid">
                            {{ 'error.field_required' | translate }}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" color="accent" fxFlex="35">
                        <mat-label>{{'service.dialog.host' | translate}}</mat-label>
                        <input aria-label="" formControlName="host" matInput placeholder="{{'service.dialog.host_example' | translate}}" required
                               type="text"/>
                        <mat-error *ngIf="hostField.invalid">
                            {{ 'error.field_required' | translate }}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" color="accent" fxFlex="15">
                        <mat-label>{{'service.dialog.port' | translate}}</mat-label>
                        <input aria-label="" formControlName="port" matInput placeholder="{{'service.dialog.port_example' | translate}}" required
                               type="number"/>
                        <mat-error *ngIf="portField.invalid">
                            {{ 'service.dialog.error.port_min_max' | translate }}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" color="accent" fxFlex="30">
                        <mat-label>{{'service.dialog.path' | translate}}</mat-label>
                        <input aria-label="" formControlName="path" matInput placeholder="{{'service.dialog.path_example' | translate}}"
                               type="text"/>
                        <mat-error *ngIf="pathField.invalid">
                            {{ 'service.dialog.error.path_pattern' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <mat-accordion displayMode="flat" hideToggle multi>
                <mat-expansion-panel #matExp disabled>
                    <mat-expansion-panel-header class="margin-bottom-20-i">
                        <mat-panel-description fxLayout="row" fxLayoutAlign="center start">
                            <button (click)="matExp.toggle(); $event.stopPropagation();" color="primary" fxFlex="50" mat-flat-button>
                                <mat-icon [fxShow]="matExp._getExpandedState()==='collapsed'">expand_more</mat-icon>
                                <mat-icon [fxShow]="matExp._getExpandedState()==='expanded'">expand_less</mat-icon>
                                {{'text.advanced_fields' | translate}}
                                <mat-icon [fxShow]="matExp._getExpandedState()==='collapsed'">expand_more</mat-icon>
                                <mat-icon [fxShow]="matExp._getExpandedState()==='expanded'">expand_less</mat-icon>
                            </button>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div fxLayout="row" fxLayoutAlign="space-between start">
                        <!--Reintentos-->
                        <mat-form-field appearance="outline" class="margin-bottom-10" color="accent" fxFlex="23">
                            <mat-label>{{'service.dialog.retries' | translate}}</mat-label>
                            <input aria-label="" formControlName="retries" matInput type="number"/>
                            <mat-error *ngIf="retriesField.invalid">
                                {{ 'service.dialog.error.retries_min_max' | translate }}
                            </mat-error>
                        </mat-form-field>

                        <!--Timeout conexión-->
                        <mat-form-field appearance="outline" color="accent" fxFlex="23">
                            <mat-label>{{'service.dialog.connect_timeout' | translate}}</mat-label>
                            <input aria-label="" formControlName="connect_timeout" matInput type="number"/>
                            <mat-icon matSuffix matTooltip="{{'service.dialog.connect_tooltip' | translate}}"
                                      matTooltipClass="tooltip-teal">info_outline
                            </mat-icon>
                            <mat-error *ngIf="connectTimeoutField.invalid">
                                {{ 'service.dialog.error.timeout_min_max' | translate }}
                            </mat-error>
                        </mat-form-field>

                        <!--Timeout escritura-->
                        <mat-form-field appearance="outline" color="accent" fxFlex="23">
                            <mat-label>{{'service.dialog.write_timeout' | translate}}</mat-label>
                            <input aria-label="" formControlName="write_timeout" matInput type="number"/>
                            <mat-icon matSuffix matTooltip="{{'service.dialog.write_tooltip' | translate}}"
                                      matTooltipClass="tooltip-teal">info_outline
                            </mat-icon>
                            <mat-error *ngIf="writeTimeoutField.invalid">
                                {{ 'service.dialog.error.timeout_min_max' | translate }}
                            </mat-error>
                        </mat-form-field>

                        <!--Timeout lectura-->
                        <mat-form-field appearance="outline" color="accent" fxFlex="23">
                            <mat-label>{{'service.dialog.read_timeout' | translate}}</mat-label>
                            <input aria-label="" formControlName="read_timeout" matInput type="number"/>
                            <mat-icon matSuffix matTooltip="{{'service.dialog.read_tooltip' | translate}}"
                                      matTooltipClass="tooltip-teal">info_outline
                            </mat-icon>
                            <mat-error *ngIf="readTimeoutField.invalid">
                                {{ 'service.dialog.error.timeout_min_max' | translate }}
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between start">
                        <!--Certificado cliente-->
                        <mat-form-field appearance="outline" class="margin-bottom-10" color="accent" fxFlex="49">
                            <mat-label>{{'service.dialog.certificate' | translate}}</mat-label>
                            <mat-select [disabled]="certificatesAvailable.length === 0" formControlName="client_certificate">
                                <mat-option *ngFor="let cert of certificatesAvailable" value="{{cert}}">{{cert}}</mat-option>
                            </mat-select>
                            <mat-icon matSuffix matTooltip="{{'service.dialog.certificate_tooltip' | translate}}"
                                      matTooltipClass="tooltip-teal">info_outline
                            </mat-icon>
                        </mat-form-field>

                        <!--TLS-->
                        <mat-form-field appearance="outline" class="margin-bottom-10" color="accent" fxFlex="23">
                            <mat-label>{{'service.dialog.tls_verify' | translate}}</mat-label>
                            <mat-select formControlName="tls_verify">
                                <mat-option [value]="null"></mat-option>
                                <mat-option value="true">true</mat-option>
                                <mat-option value="false">false</mat-option>
                            </mat-select>
                            <mat-icon matSuffix matTooltip="{{'service.dialog.tls_verify_tooltip' | translate}}"
                                      matTooltipClass="tooltip-teal">info_outline
                            </mat-icon>
                        </mat-form-field>

                        <!--TLS Depth-->
                        <mat-form-field appearance="outline" class="margin-bottom-10" color="accent" fxFlex="23">
                            <mat-label>{{'service.dialog.tls_verify_depth' | translate}}</mat-label>
                            <input aria-label="" formControlName="tls_verify_depth" matInput type="number"/>
                            <mat-icon matSuffix matTooltip="{{'service.dialog.tls_verify_depth_tooltip' | translate}}"
                                      matTooltipClass="tooltip-teal">info_outline
                            </mat-icon>
                            <mat-error *ngIf="tlsVerifyDepthField.invalid">
                                {{ 'service.dialog.error.tls_depth_min_max' | translate }}
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between start">
                        <!--CA Certificates-->
                        <mat-form-field appearance="outline" color="accent" fxFlex="100">
                            <mat-label>{{'service.dialog.ca_certificates' | translate}}</mat-label>
                            <mat-select formControlName="ca_certificates" multiple>
                                <mat-option *ngFor="let cacert of caCertificatesAvailable" value="{{cacert}}">{{cacert}}</mat-option>
                            </mat-select>
                            <mat-icon matSuffix matTooltip="{{'service.dialog.ca_certificates_tooltip' | translate}}"
                                      matTooltipClass="tooltip-teal">info_outline
                            </mat-icon>
                            <mat-error *ngIf="caCertificatesField.invalid">
                                {{ 'service.dialog.error.ca_certificate_pattern' | translate }}º
                            </mat-error>
                        </mat-form-field>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </form>
    </div>
</mat-dialog-content>

<mat-divider class="margin-bottom-10-i margin-top-10-i"></mat-divider>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between start">
    <div>
        <mat-error *ngIf="form.hasError('protocol')">
            {{ 'service.dialog.error.protocol_path_collision' | translate }}
        </mat-error>
    </div>

    <div>
        <button color="warn" mat-button mat-dialog-close="null">{{'text.cancel' | translate}}</button>
        <!-- Si a disabled le pasamos una función da error de ExpressionChangedAfterItHasBeenCheckedError -->
        <button (click)="onSubmit()" [disabled]="form.invalid" color="accent"
                mat-flat-button>
            <span *ngIf="!editMode">{{'text.create' | translate}}</span>
            <span *ngIf="editMode">{{'text.edit' | translate}}</span>
        </button>
    </div>
</mat-dialog-actions>

