.mat-expansion-panel:not([class*="mat-elevation-z"]) {
    box-shadow: none;
}

.mini-icon {
    font-size: 1rem;
    vertical-align: text-top;
}

.input-method mat-form-field {
    padding-left: 20px;
}
