@import '@angular/material/theming';

.color-service {
    color: mat-color($mat-green, 300) !important;
}

.color-route {
    color: mat-color($mat-blue, 300) !important;
}

.color-upstream {
    color: mat-color($mat-orange, 300) !important;
}

.color-any {
    color: mat-color($mat-yellow, 300) !important;
}

.color-consumer {
    color: mat-color($mat-gray, 300) !important;
}

.color-target {
    color: mat-color($mat-pink, 300) !important;
}

.color-host {
    color: mat-color($mat-red, 300) !important;
}

.color-plugin {
    color: mat-color($mat-purple, 300) !important;
}

.color-healthy {
    color: mat-color($mat-lime, 600) !important;
}

.color-unhealthy {
    color: mat-color($mat-deep-orange, 400) !important;
}
