.color-service {
    color: #81C784 !important;
}

.color-route {
    color: #64B5F6 !important;
}

.color-upstream {
    color: #FFB74D !important;
}

.color-vault {
    color: #7986CB !important;
}

.color-any {
    color: #FFF176 !important;
}

.color-consumer {
    color: #E0E0E0 !important;
}

.color-target {
    color: #F06292 !important;
}

.color-host {
    color: #E57373 !important;
}

.color-plugin {
    color: #FFF176 !important;
}

.color-healthy {
    color: #C0CA33 !important;
}

.color-unhealthy {
    color: #FF7043 !important;
}

.color-neutral {
    color: #608f8f !important;
}
.color-delete {
    color: #e40419 !important;
}
.color-info {
    color: #345ca8 !important;
}
