.color-service {
    color: #81C784 !important;
}

.color-route {
    color: #4FC3F7 !important;
}

.color-upstream {
    color: #FFB74D !important;
}

.color-plugin {
    color: #FFF176 !important;
}

.color-consumer {
    color: #E0E0E0 !important;
}

.color-target {
    color: #E57373 !important;
}

.color-host {
    color: #E57373 !important;
}
