a.link, a.link:visited, mat-icon.link {
    color: #6495ed;
}

a.link:hover, mat-icon.link:hover {
    color: #81a6e9;
}

mat-icon.link {
    vertical-align: middle;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.text-small {
    font-size: 0.8rem !important;
}

.margin-0 {
    margin: 0;
}

.margin-0-i {
    margin: 0 !important;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-5-i {
    margin-bottom: 5px !important;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-10-i {
    margin-top: 10px !important;
}

.margin-top-20-i {
    margin-top: 20px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-10-i {
    margin-bottom: 10px !important;
}

.margin-bottom-20-i {
    margin-bottom: 20px !important;
}

.padding-0 {
    padding: 0;
}

.padding-10 {
    padding: 10px;
}

.padding-20 {
    padding: 20px;
}

.padding-30 {
    padding: 30px;
}

.padding-40 {
    padding: 40px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-right-10 {
    padding-right: 10px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-left-20-i {
    margin-left: 20px !important;
}

.margin-right-20 {
    margin-right: 20px;
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-left-40 {
    padding-left: 40px;
}

.padding-left-60 {
    padding-left: 60px;
}

.padding-right-20 {
    padding-right: 20px;
}

.mini-icon {
    font-size: 1rem;
    vertical-align: text-top;
}

.spacer {
    flex: 1 1 auto;
}

.progress-placeholder {
    height: 4px;
    width: 100%;
}
