.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-right-10 {
    padding-right: 10px;
}

.margin-left-20 {
    margin-left: 20px;
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-right-20 {
    padding-right: 20px;
}
