@import '~@angular/material/theming';


/* Toastr Overrides */
.toast-container {
    z-index: 1001 !important;
}

.toast-container .ngx-toastr {
    box-shadow: none !important;
}

/* Material overrides */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
}

:focus {
    outline: none !important;
}

.mat-chip.mat-primary {
    background: mat-color($mat-gray, 700) !important;
}

.mat-input-element, .mat-input-element::-webkit-search-cancel-button, .mat-input-element::-webkit-search-decoration, .mat-input-element::-webkit-search-results-button, .mat-input-element::-webkit-search-results-decoration {
    -webkit-appearance: textfield !important;
    -moz-appearance: textfield !important;
}

.mat-form-field-label {
    color: rgba(255, 255, 255, 0.5) !important;
}

.mat-app-background {
    background-color: mat-color($mat-gray, 900);
}

.mat-tooltip.tooltip-teal {
    background: mat-color($mat-teal, 800);
}

.mat-tooltip.tooltip-multi {
    white-space: pre-line !important;
}

.mat-tooltip.tooltip-wide {
    max-width: 500px !important;
}

.mat-button-toggle {
    background-color: mat-color($mat-gray, 900);

}

.mat-button-toggle-checked {
    background-color: mat-color($mat-teal, 900);
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 24px;
}

.mat-chip.mat-primary {
    background: mat-color($mat-gray, 800);
}

.mat-chip.mat-accent {
    background: mat-color($mat-teal, 500);
}

.mat-icon-button.small-btn {
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.mat-icon-button.small-btn mat-icon {
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
}

mat-dialog-content div div {
    overflow-wrap: break-word;
}

/*
    NGX-CHARTS
 */
.dark {
    // Backgrounds
    $color-bg-darkest: #13141b;
    $color-bg-darker: #1b1e27;
    $color-bg-dark: #232837;
    $color-bg-med: #2f3646;
    $color-bg-light: #4DB6AC;
    $color-bg-lighter: #4DB6AC;

    // Text
    $color-text-dark: #26A69A;
    //$color-text-med-dark: #26A69A;
    $color-text-med: #4DB6AC;
    //$color-text-med-light: #4DB6AC;
    $color-text-light: #80CBC4;
    $color-text-lighter: #B2DFDB;

    //background: $color-bg-darker;

    .ngx-charts {

        text {
            fill: $color-text-med;
        }

        .tooltip-anchor {
            fill: rgb(255, 255, 255);
        }

        .gridline-path {
            stroke: $color-bg-med;
        }

        .refline-path {
            stroke: $color-bg-light;
        }

        .reference-area {
            fill: #fff;
        }

        .grid-panel {
            &.odd {
                rect {
                    fill: rgba(255, 255, 255, 0.05);
                }
            }
        }

        .force-directed-graph {
            .edge {
                stroke: $color-bg-light;
            }
        }

        .number-card {
            p {
                color: $color-text-light;
            }
        }

        .gauge {
            .background-arc {
                path {
                    fill: $color-bg-med;
                }
            }

            .gauge-tick {
                path {
                    stroke: $color-text-med;
                }

                text {
                    fill: $color-text-med;
                }
            }
        }

        .linear-gauge {
            .background-bar {
                path {
                    fill: $color-bg-med;
                }
            }

            .units {
                fill: $color-text-dark;
            }
        }

        .timeline {
            .brush-background {
                fill: rgba(255, 255, 255, 0.05);
            }

            .brush {
                .selection {
                    fill: rgba(255, 255, 255, 0.1);
                    stroke: #aaa;
                }
            }
        }

        .polar-chart .polar-chart-background {
            fill: rgb(30, 34, 46);
        }

    }

    .chart-legend {
        .legend-labels {
            background: rgba(255, 255, 255, 0.05) !important;
        }

        .legend-title {
            color: $color-text-light;
            font-weight: normal;
        }

        .legend-item {
            &:hover {
                color: #f0f;
            }
        }

        .legend-label {
            color: $color-text-med;

            &:hover {
                color: #ff0 !important;
            }

            .active {
                .legend-label-text {
                    color: $color-text-lighter !important;
                }
            }
        }

        .scale-legend-label {
            color: $color-text-med;
        }
    }

    .advanced-pie-legend {
        color: $color-text-med;

        .legend-item {
            &:hover {
                color: $color-text-lighter !important;
            }
        }
    }

    .number-card .number-card-label {
        font-size: 0.8em;
        color: $color-text-med;
    }
}

/*
    JSON FORMATTER
 */
.segment-key {
    color: #f5f5f5 !important;
}

.segment-type-null > .segment-main > .segment-value {
    background-color: transparent !important;
    color: mat-color($mat-blue, 400) !important;
}

.segment-type-boolean > .segment-main > .segment-value {
    color: mat-color($mat-purple, 300) !important;
}

.segment-type-number > .segment-main > .segment-value {
    color: mat-color($mat-cyan, 400) !important;
}
