<div class="manual-block">
    <ol class="padding-0">
        <li><a (click)="scrollTo(mOne)">Introducción al manual</a></li>
        <li>two
            <ol>
                <li>two.one</li>
                <li>two.two</li>
                <li>two.three</li>
            </ol>
        </li>
        <li>three
            <ol>
                <li>three.one</li>
                <li>three.two
                    <ol>
                        <li>three.two.one</li>
                        <li>three.two.two</li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>four</li>
    </ol>
</div>
<div #mOne class="manual-block" id="mOne">
    <h2>1. Pepeppepepepepeppe</h2>
    <section>
        <p>Pepeppepepepepeppe</p>
        <p>Pepeppepepepepeppe</p>
        <p>Pepeppepepepepeppe</p>
        <p>Pepeppepepepepeppe</p>
        <p>Pepeppepepepepeppe</p>
        <p>Pepeppepepepepeppe</p>
        <p>Pepeppepepepepeppe</p>
        <p>Pepeppepepepepeppe</p>
        <p>Pepeppepepepepeppe</p>
        <p>Pepeppepepepepeppe</p>
        <p>Pepeppepepepepeppe</p>
        <p>Pepeppepepepepeppe</p>
        <p>Pepeppepepepepeppe</p>
        <p>Pepeppepepepepeppe</p>
        <p>Pepeppepepepepeppe</p>
        <p>Pepeppepepepepeppe</p>
        <a (click)="scrollTo(summary)">Up</a>
    </section>
</div>
