<div fxLayout="column" fxLayoutAlign="start stretch">
    <h2 class="margin-bottom-5-i" mat-dialog-title>
        <span>{{'acl.dialog.info' | translate}}</span>

        <span class="btn-double-doc-right" fxLayout="row" fxLayoutAlign="start center">
            <a href="https://docs.konghq.com/hub/kong-inc/acl/" mat-button rel="noopener noreferrer" target="_blank">
                {{'text.documentation' | translate}}
                <mat-icon class="mini-icon" iconPositionEnd>open_in_new</mat-icon>
            </a>
            <button (click)="downloadJson()" mat-icon-button
                    matTooltip="{{'dialog.download_json' | translate}}" matTooltipClass="tooltip-teal">
                <mat-icon>download</mat-icon>
            </button>
        </span>
    </h2>

    <mat-divider class="margin-bottom-20-i"></mat-divider>

    <div [fxShow]="loading" fxFlex fxLayoutAlign="center center">
        <p fxFlex="50">
            <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
        </p>
    </div>

    <div fxFlex>
        <mat-dialog-content *ngIf="acls && !loading" class="margin-0-i">
            <form [formGroup]="form">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxFlex="45">
                        <mat-form-field appearance="outline" color="accent" fxFlex="100">
                            <mat-chip-grid #chipList aria-label="">
                                <mat-chip-row (removed)="removeTag(tag)"
                                              *ngFor="let tag of currentTags" removable="true">{{tag}}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip-row>
                                <input (matChipInputTokenEnd)="addTag($event)"
                                       [matAutocomplete]="auto"
                                       [matChipInputFor]="chipList"
                                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                       formControlName="tags"
                                       matChipInputAddOnBlur="true"
                                       placeholder="{{'service.dialog.tags' | translate}}"/>
                            </mat-chip-grid>
                            <mat-hint>{{'service.dialog.tags_hint' | translate}}</mat-hint>
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedTag($event)">
                                <mat-option *ngFor="let tag of allTags" [value]="tag">
                                    {{tag}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>

                    <div fxFlex="45">
                        <mat-form-field fxFlex appearance="outline" color="accent">
                            <mat-label>{{ 'acl.dialog.add_group' | translate}}</mat-label>
                            <input formControlName="group" [matAutocomplete]="autogroup"
                                   matInput type="text">
                            <mat-autocomplete #autogroup="matAutocomplete">
                                <mat-option *ngFor="let option of filteredAcls" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>

                        <button (click)="addAclToConsumer()" color="accent" mat-icon-button [disabled]="isDisabled()"
                                matTooltip="{{'acl.add' | translate}}" matTooltipClass="tooltip-teal">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>
            </form>

            <h2 class="h2-font margin-top-20-i">{{'acl.dialog.groups' | translate}}: <span>{{consumerName}}</span></h2>

            <div fxLayout="row">
                <div fxFlex>
                    <mat-grid-list cols="2" rowHeight="2em">
                        <mat-grid-tile *ngFor="let acl of acls" class="custom">
                            <mat-icon color="accent" matTooltip="{{ (acl.created_at * 1000) | date:'medium'}}"
                                      matTooltipClass="tooltip-teal">
                                event
                            </mat-icon>
                            <mat-icon>people</mat-icon>
                            <div matTooltip="ID: {{acl.id}}" matTooltipClass="tooltip-teal">{{acl.group}}</div>
                            <button (click)="deleteAcl(acl)" class="margin-left-20-i" color="warn" mat-icon-button
                                    matTooltip="{{'text.delete' | translate}}" matTooltipClass="tooltip-teal"
                                    matTooltipPosition="right">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
            </div>
        </mat-dialog-content>
    </div>

    <mat-divider *ngIf="!loading" class="margin-bottom-10-i margin-top-10-i"></mat-divider>

    <mat-dialog-actions *ngIf="!loading" fxLayout="row" fxLayoutAlign="space-between start">
        <mat-chip-listbox *ngIf="acls" matTooltip="{{'text.tags' | translate}}" matTooltipClass="tooltip-teal">
            <mat-chip-option *ngFor="let chip of acls['tags']" color="primary">{{chip}}</mat-chip-option>
        </mat-chip-listbox>
        <div><!-- leave empty --></div>
        <button cdkFocusInitial color="accent" mat-dialog-close="null"
                class="margin-right-20"
                mat-flat-button>{{'text.accept' | translate}}</button>
    </mat-dialog-actions>
</div>
