<div fxLayout="column" fxLayoutAlign="start stretch">
    <h2 class="margin-bottom-5-i" fxFlex fxLayout="row" fxLayoutAlign="space-between start" mat-dialog-title>
        <span>{{'apikey.dialog.info' | translate}}</span>

        <span fxFlexAlign="end">
            <a href="https://docs.konghq.com/hub/kong-inc/key-auth/" mat-button rel="noopener noreferrer" target="_blank">
                {{'text.documentation' | translate}}
                <mat-icon class="mini-icon">open_in_new</mat-icon>
            </a>
            <button (click)="downloadJson()" mat-icon-button
                    matTooltip="{{'dialog.copy_clipboard' | translate}}" matTooltipClass="tooltip-teal">
                <mat-icon>download</mat-icon>
            </button>
        </span>
    </h2>

    <mat-divider class="margin-bottom-20-i"></mat-divider>

    <div [fxShow]="loading" fxFlex fxLayoutAlign="center center">
        <p fxFlex="50">
            <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
        </p>
    </div>

    <div fxFlex>
        <mat-dialog-content *ngIf="keys && !loading" class="margin-0-i">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div>{{'apikey.dialog.keys' | translate}} <span class="small-font">{{consumerId}}</span></div>

                <div fxFlex="50" fxLayout="row" fxLayoutAlign="end center">
                    <mat-form-field fxFlex="50">
                        <mat-label>{{ 'apikey.dialog.add_key' | translate}}</mat-label>
                        <input [(ngModel)]="key" matInput type="text">
                        <button (click)="key=''" *ngIf="key" mat-button mat-icon-button matSuffix>
                            <mat-icon>close</mat-icon>
                        </button>
                        <mat-hint>{{ 'apikey.dialog.add_key_hint' | translate}}</mat-hint>
                    </mat-form-field>

                    <mat-form-field class="margin-left-10" fxFlex="30">
                        <mat-label>{{ 'apikey.dialog.add_ttl' | translate}}</mat-label>
                        <input [(ngModel)]="ttl" matInput type="number">
                        <mat-hint>{{ 'apikey.dialog.add_ttl_hint' | translate}}</mat-hint>
                    </mat-form-field>

                    <button (click)="addApiKeyToConsumer()" color="accent" mat-icon-button matTooltip="{{'apikey.add' | translate}}"
                            matTooltipClass="tooltip-teal">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>

            <div fxLayout="row">
                <div>
                    <mat-list>
                        <mat-list-item *ngFor="let apikey of keys">
                            <mat-icon mat-list-icon>people</mat-icon>
                            <div mat-line matTooltip="ID: {{apikey.id}}" matTooltipClass="tooltip-teal">{{apikey.key}}</div>
                            <div class="text-small" mat-line>{{ (apikey.created_at * 1000) | date:'medium'}}</div>
                            <button (click)="deleteApiKey(apikey)" class="margin-left-20-i" color="warn" mat-button mat-icon-button
                                    matTooltip="{{'text.delete' | translate}}" matTooltipClass="tooltip-teal">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-list-item>
                    </mat-list>
                </div>
            </div>
        </mat-dialog-content>
    </div>

    <mat-divider *ngIf="!loading" class="margin-bottom-10-i margin-top-10-i"></mat-divider>

    <mat-dialog-actions *ngIf="!loading" fxFlex fxLayout="row" fxLayoutAlign="space-between">
        <mat-chip-list *ngIf="keys" matTooltip="{{'text.tags' | translate}}" matTooltipClass="tooltip-teal">
            <mat-chip *ngFor="let chip of keys['tags']" color="primary">{{chip}}</mat-chip>
        </mat-chip-list>
        <div><!-- leave empty --></div>
        <button cdkFocusInitial color="accent" mat-dialog-close="null" mat-flat-button>{{'text.accept' | translate}}</button>
    </mat-dialog-actions>
</div>
