<h2 mat-dialog-title fxLayout="row" fxLayoutAlign="space-between start" class="margin-bottom-5-i">
    <span *ngIf="!editMode">{{'consumer.dialog.create' | translate}}</span>
    <span *ngIf="editMode">{{'consumer.dialog.edit' | translate}}</span>

    <span><a mat-button href="https://docs.konghq.com/2.2.x/admin-api/#add-consumer" target="_blank">
    {{'text.documentation' | translate}}
        <mat-icon class="mini-icon">open_in_new</mat-icon></a></span>
</h2>

<mat-divider class="margin-bottom-20-i"></mat-divider>

<mat-dialog-content class="mat-typography" fxLayout="row" fxLayoutAlign="center start">
    <div fxFlex="90" *ngIf="loading" class="loading-block">
        <p fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
            <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
        </p>
    </div>

    <div fxFlex="90" *ngIf="!loading">
        <form [formGroup]="form">
            <div fxLayout="column" class="margin-bottom-10">
                <div fxLayout="row" fxLayoutAlign="space-between start" class="margin-bottom-10">
                    <mat-form-field fxFlex="48" color="accent" appearance="outline">
                        <mat-label>{{'consumer.dialog.username' | translate}}</mat-label>
                        <input type="text" matInput formControlName="username" cdkFocusInitial/>
                    </mat-form-field>

                    <mat-form-field fxFlex="48" color="accent" appearance="outline">
                        <mat-label>{{'consumer.dialog.custom_id' | translate}}</mat-label>
                        <input type="text" matInput formControlName="custom_id"/>
                        <mat-icon matSuffix matTooltip="{{'consumer.dialog.custom_id_tooltip' | translate}}"
                                  matTooltipClass="tooltip-teal">info_outline
                        </mat-icon>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="space-between start" class="margin-bottom-10">
                    <mat-form-field fxFlex="100" color="accent" appearance="outline">
                        <mat-chip-list #chipList aria-label="">
                            <mat-chip *ngFor="let tag of currentTags"
                                      removable="true" (removed)="removeTag(tag)">{{tag}}
                                <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>
                            <input placeholder="{{'service.dialog.tags' | translate}}"
                                   formControlName="tags"
                                   [matChipInputFor]="chipList"
                                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                   matChipInputAddOnBlur="true"
                                   (matChipInputTokenEnd)="addTag($event)"/>
                        </mat-chip-list>
                        <mat-hint>{{'service.dialog.tags_hint' | translate}}</mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
</mat-dialog-content>

<mat-divider class="margin-bottom-10-i margin-top-10-i"></mat-divider>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between start">
    <div>
        <mat-error *ngIf="form.hasError('finalValidation')">
            {{ 'consumer.dialog.error.final_validation' | translate }}
        </mat-error>
    </div>
    <div>
        <button mat-button mat-dialog-close="null" color="warn">{{'text.cancel' | translate}}</button>
        <!-- Si a disabled le pasamos una función da error de ExpressionChangedAfterItHasBeenCheckedError -->
        <button mat-flat-button (click)="onSubmit()" color="accent"
                [disabled]="form.invalid">
            <span *ngIf="!editMode">{{'text.create' | translate}}</span>
            <span *ngIf="editMode">{{'text.edit' | translate}}</span>
        </button>
    </div>
</mat-dialog-actions>
