@import '@angular/material/theming';

table {
    width: 100%;
}

.delete-icon {
    margin-right: auto;
    color: mat-color($mat-red, 600);
}

span.accent {
    color: #7FCA33;
}

span.warn {
    color: #E53935;
}

