@import '~@angular/material/theming';

.subheader {
    color: mat-color($mat-blue-gray, 300);
}

.graph-container {
    position: relative;
}

.net-button {
    position: absolute;
    top: 0;
    right: 0;
    background: #212121;
}

#graph-tools {
    height: 55px;
    border-bottom: 1px solid #292929;
}

#graph-tools .filter {
    margin-left: 2rem;
}

#graph-actions {
    border-left: 1px solid #292929;
}

div#node-network:focus {
    outline: none !important;
}

.mat-list-base .mat-list-item {
    height: 45px !important;
}
