@import '@angular/material/theming';

.subheader {
    color: mat-color($mat-blue-gray, 300);
}

.graph-container {
    position: relative;
}

.net-button {
    position: absolute;
    top: 0;
    right: 0;
    background: #212121;
}

#graph-tools {
    height: 55px;
    border-bottom: 1px solid #292929;
    background: #212526;
}

#graph-tools {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#graph-actions {
    border-left: 1px solid #292929;
    background: #212526;
}

#graph-filters {
    width: 150px;
    border-right: 1px solid #292929;
    background: #212526;
}

.graph-background {
    background: #212121;
}

div#node-network:focus {
    outline: none !important;
}

.mat-list-base .mat-list-item {
    height: 45px !important;
}

.line-small {
    line-height: 15px !important;
}

.semiopacity {
    opacity: .35;
}

.scroller {
    max-height: 100%;
    height: 100%;
    overflow: auto;
}
