<div fxFlexFill fxLayout="row" id="net-reference">
    <div [fxShow]="loading" fxFlex.gt-md="85" fxFlex.lt-lg="75" fxLayoutAlign="center center">
        <p fxFlex="50">
            <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
        </p>
    </div>
    <!-- Contenedor de grafo -->
    <div [fxShow]="!loading" class="graph-container" fxFlex.gt-md="83" fxFlex.lt-lg="73">
        <!-- Barra de herramientas horizontal -->
        <div *ngIf="showTools" fxLayout="row" fxLayoutAlign="space-between start" id="graph-tools">
            <div fxFlex="none" fxLayout="row" fxLayoutAlign="end center" class="margin-top-8">
                <button (click)="graphFilter.mode = !graphFilter.mode;" class="filter-btn"
                        [disabled]="graphFilter.element === 'untagged'"
                        matTooltip="{{'architect.andor_btn_tooltip' | translate}}" matTooltipClass="tooltip-teal"
                        mat-stroked-button matPrefix>
                    <span *ngIf="graphFilter.mode">AND</span>
                    <span *ngIf="!graphFilter.mode">OR</span>
                </button>
            </div>
            <div fxFlex="35" fxLayout="row" fxLayoutAlign="start center" class="margin-top-8">
                <mat-form-field color="accent" appearance="outline" fxFlex class="connection-box height-40">
                    <mat-icon matPrefix class="tag-9-i" color="accent">label</mat-icon>
                    <mat-select [formControl]="tagSelectedCtrl" placeholder="{{ 'architect.filter' | translate }}"
                                [disabled]="graphFilter.element === 'untagged'"
                                [multiple]="true" #multiSelect
                                matTooltip="{{'architect.filter' | translate}}" matTooltipClass="tooltip-teal">
                        <mat-option>
                            <ngx-mat-select-search [formControl]="tagFilterCtrl"
                                                   placeholderLabel="{{ 'architect.filter_search' | translate }}"
                                                   noEntriesFoundLabel="{{ 'architect.filter_search_notfound' | translate }}">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-optgroup label="{{ 'text.tags' | translate }}" class="optgroup">
                            <mat-option *ngFor="let tag of tagFilteredList | async | tagFilter:false" [value]="tag">
                                {{tag}}
                            </mat-option>
                        </mat-optgroup>
                        <mat-optgroup label="{{ 'text.clusters' | translate }}" class="optgroup">
                            <mat-option *ngFor="let tag of tagFilteredList | async | tagFilter:true" [value]="tag">
                                {{tag}}
                            </mat-option>
                        </mat-optgroup>
                    </mat-select>
                </mat-form-field>
            </div>

            <mat-form-field color="accent" appearance="outline" fxFlex="30"
                            class="connection-box no-pad height-40 margin-top-8">
                <mat-select [(ngModel)]="graphFilter.element" #modeSelect>
                    <mat-option value="all"><mat-icon>label_alt</mat-icon>{{'architect.filter_element_all' | translate}}</mat-option>
                    <mat-option value="mainonly"><mat-icon>label_important</mat-icon>{{'architect.filter_element_mainonly' | translate}}</mat-option>
                    <mat-option value="untagged"><mat-icon>label_off</mat-icon>{{'architect.filter_element_notags' | translate}}</mat-option>
                </mat-select>
            </mat-form-field>

            <button (click)="populateGraph()" color="accent" mat-icon-button class="margin-top-5"
                    matTooltip="{{'architect.filter_tooltip' | translate}}" matTooltipClass="tooltip-teal">
                <mat-icon>filter_alt</mat-icon>
            </button>

            <button (click)="cleanFilters()" color="accent" mat-icon-button class="margin-top-5"
                    matTooltip="{{'architect.filter_clear' | translate}}" matTooltipClass="tooltip-teal">
                <mat-icon>delete</mat-icon>
            </button>

            <button (click)="fitNetwork()" color="accent" mat-icon-button class="margin-top-5"
                    matTooltip="{{'architect.center_network' | translate}}" matTooltipClass="tooltip-teal">
                <mat-icon>center_focus_strong</mat-icon>
            </button>

            <button (click)="changeClusterize()" color="accent" mat-icon-button class="margin-top-5"
                    matTooltip="{{ ((clusterize) ? 'architect.clusterize_on' : 'architect.clusterize_off') | translate}}"
                    matTooltipClass="tooltip-teal">
                <mat-icon [ngClass]="{'semiopacity': !clusterize}">token</mat-icon>
            </button>
        </div>

        <div id="node-network"></div>
    </div>

    <!-- Contenedor de acciones derecho -->
    <div fxFlex.gt-md="17" fxFlex.lt-lg="27" id="graph-actions" class="scroller">
        <mat-list>

            <!--<mat-list-item class="margin-top-5">
                <mat-form-field color="accent" fxFlex>
                    <mat-label>{{ 'architect.global_search' | translate}}</mat-label>
                    <input (keyup.enter)="filterGraphByTag()" [(ngModel)]="graphFilter.tag" matInput
                           matTooltip="{{ 'architect.global_search_hint' | translate }}"
                           matTooltipClass="tooltip-teal" type="text">
                    <button (click)="graphFilter.tag=''; filterGraphByTag()" mat-icon-button matSuffix>
                        <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>
            </mat-list-item>-->

            <div class="subheader" mat-subheader>{{'architect.global_actions' | translate}}</div>
            <mat-list-item *ngIf="expressions">
                <div mat-line>
                    <button (click)="addEdit(null, 'rsu')" mat-button matTooltip="{{ 'rsu.add_tooltip' | translate }}"
                            matTooltipClass="tooltip-teal" matTooltipPosition="left">
                        <mat-icon class="color-route">timeline</mat-icon>&nbsp;
                        <mat-icon class="color-service">memory</mat-icon>&nbsp;
                        <mat-icon class="color-upstream">share</mat-icon>&nbsp;
                        {{'rsu.add' | translate}}
                    </button>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div mat-line>
                    <button (click)="addEdit(null, 'route')" mat-button>
                        <mat-icon class="color-route">timeline</mat-icon>&nbsp;
                        {{'route.add' | translate}}
                    </button>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div mat-line>
                    <button (click)="addEdit(null, 'service')" mat-button>
                        <mat-icon class="color-service">memory</mat-icon>&nbsp;
                        {{'service.add' | translate}}
                    </button>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div mat-line>
                    <button (click)="addEdit(null, 'upstream')" mat-button>
                        <mat-icon class="color-upstream">share</mat-icon>&nbsp;
                        {{'upstream.add' | translate}}
                    </button>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div mat-line>
                    <button (click)="addEdit(null, 'consumer')" mat-button>
                        <mat-icon class="color-consumer">shopping_cart</mat-icon>&nbsp;
                        {{'consumer.add' | translate}}
                    </button>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div mat-line>
                    <button (click)="addEdit(null, 'plugin')" mat-button>
                        <mat-icon class="color-plugin">settings_input_component</mat-icon>&nbsp;
                        {{'plugin.add' | translate}}
                    </button>
                </div>
            </mat-list-item>

            <mat-divider *ngIf="groupsAll.includes(selection.group)"
                         class="margin-top-10 margin-bottom-10"></mat-divider>

            <div class="subheader margin-top-5-i" mat-subheader *ngIf="groupsAll.includes(selection.group)">
                {{'architect.local_actions_' + selection.group | translate }}:&nbsp;<span
                class="italic">{{ selection.label.split('\n')[0] }}</span>
            </div>
            <mat-list-item *ngIf="groupsInfo.includes(selection.group)">
                <div mat-line>
                    <button (click)="showInfo(selection)" mat-button>
                        <mat-icon>info</mat-icon>
                        {{'text.info' | translate}}
                    </button>
                </div>
            </mat-list-item>

            <!-- filtro por tag -->
            <mat-list-item *ngIf="groupsInfo.includes(selection.group) && (selection.data.tags.length > 0)">
                <div mat-line>
                    <button (click)="filterTag(selection)" mat-button matTooltip="{{selection.data.tags.join(', ')}}"
                            matTooltipClass="tooltip-teal">
                        <mat-icon>filter_alt</mat-icon>
                        {{'architect.filter_selected_tags' | translate:{num: selection.data.tags.length} }}
                    </button>
                </div>
            </mat-list-item>

            <!-- Botones específicos de ciertos plugins -->

            <mat-list-item *ngIf="selection.group === 'consumer' && isPluginActive('acl')">
                <div mat-line>
                    <button (click)="showInfo({id: selection.consumerId, group: 'acl', username: selection.label})"
                            mat-button>
                        <mat-icon>people</mat-icon>
                        {{'acl.dialog.info' | translate}}
                    </button>
                </div>
            </mat-list-item>

            <mat-list-item *ngIf="selection.group === 'consumer' && isPluginActive('key-auth')">
                <div mat-line>
                    <button (click)="showInfo({id: selection.consumerId, group: 'key', username: selection.label})"
                            mat-button>
                        <mat-icon>vpn_key</mat-icon>
                        {{'apikey.dialog.info' | translate}}
                    </button>
                </div>
            </mat-list-item>

            <mat-list-item *ngIf="selection.group === 'consumer' && isPluginActive('jwt')">
                <div mat-line>
                    <button (click)="showInfo({id: selection.consumerId, group: 'jwt', username: selection.label})"
                            mat-button>
                        <mat-icon>confirmation_number</mat-icon>
                        {{'jwt.dialog.info' | translate}}
                    </button>
                </div>
            </mat-list-item>

            <!---->

            <mat-list-item *ngIf="groupsEdit.includes(selection.group)">
                <div mat-line>
                    <button (click)="addEdit(selection, selection.group)" color="accent" mat-button>
                        <mat-icon>edit</mat-icon>
                        {{'text.edit' | translate}}</button>
                </div>
            </mat-list-item>
            <mat-list-item *ngIf="groupsDelete.includes(selection.group)">
                <div mat-line>
                    <button (click)="delete(selection)" color="warn" mat-button>
                        <mat-icon>delete</mat-icon>
                        {{'text.delete' | translate}}
                    </button>
                </div>
            </mat-list-item>
            <mat-list-item *ngIf="groupsAddPlugin.includes(selection.group)">
                <div mat-line>
                    <button (click)="addEditPlugin(null, selection)" mat-button>
                        <mat-icon class="color-plugin">settings_input_component</mat-icon>&nbsp;
                        {{'plugin.add' | translate}}
                    </button>
                </div>
            </mat-list-item>
            <mat-list-item *ngIf="groupsAddTarget.includes(selection.group)">
                <div mat-line>
                    <button (click)="addTarget(selection)" mat-button>
                        <mat-icon class="color-target">gps_fixed</mat-icon>&nbsp;
                        {{'target.add' | translate}}
                    </button>
                </div>
            </mat-list-item>

            <mat-list-item *ngIf="groupsHealth.includes(selection.group)">
                <div mat-line>
                    <button (click)="setTargetHealthy(selection)" mat-button>
                        <mat-icon class="color-healthy">power</mat-icon>&nbsp;
                        {{'target.set_healthy' | translate}}
                    </button>
                </div>
            </mat-list-item>
            <mat-list-item *ngIf="groupsHealth.includes(selection.group)">
                <div mat-line>
                    <button (click)="setTargetUnhealthy(selection)" mat-button>
                        <mat-icon class="color-unhealthy">power_off</mat-icon>&nbsp;
                        {{'target.set_unhealthy' | translate}}
                    </button>
                </div>
            </mat-list-item>
        </mat-list>
    </div>
</div>
