<div id="net-reference" fxLayout="row" fxFlexFill>
    <div fxFlex="75" [fxShow]="loading" fxLayoutAlign="center center">
        <p fxFlex="50">
            <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
        </p>
    </div>
    <div fxFlex="75" [fxShow]="!loading">
        <div id="node-network"></div>
    </div>
    <div fxFlex="25">
        <mat-list>
            <mat-list-item>
                <div mat-line fxLayout="row" fxLayoutAlign="end start">
                    <button mat-icon-button color="accent" (click)="fitNetwork()"
                            matTooltip="{{'architect.center_network' | translate}}"
                            matTooltipClass="tooltip-teal" [matTooltipShowDelay]="1000"
                            matTooltipPosition="left">
                        <mat-icon>center_focus_strong</mat-icon>
                    </button>
                </div>
            </mat-list-item>
            <mat-divider class="margin-top-10 margin-bottom-10"></mat-divider>

            <div mat-subheader class="subheader">{{'architect.global_actions' | translate}}</div>
            <mat-list-item>
                <div mat-line>
                    <button mat-button (click)="addEdit(null, 'service')">
                        <mat-icon class="color-service">memory</mat-icon>&nbsp;
                        {{'service.add' | translate}}
                    </button>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div mat-line>
                    <button mat-button (click)="addEdit(null, 'route')">
                        <mat-icon class="color-route">timeline</mat-icon>&nbsp;
                        {{'route.add' | translate}}
                    </button>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div mat-line>
                    <button mat-button (click)="addEdit(null, 'upstream')">
                        <mat-icon class="color-upstream">mediation</mat-icon>&nbsp;
                        {{'upstream.add' | translate}}
                    </button>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div mat-line>
                    <button mat-button (click)="addEdit(null, 'consumer')">
                        <mat-icon class="color-consumer">shopping_cart</mat-icon>&nbsp;
                        {{'consumer.add' | translate}}
                    </button>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div mat-line>
                    <button mat-button (click)="addEdit(null, 'plugin')">
                        <mat-icon class="color-plugin">settings_input_component</mat-icon>&nbsp;
                        {{'plugin.add' | translate}}
                    </button>
                </div>
            </mat-list-item>

            <mat-divider class="margin-top-10 margin-bottom-10" *ngIf="groups.includes(selection.group)"></mat-divider>

            <div mat-subheader class="subheader" *ngIf="groups.includes(selection.group)">
                {{'architect.local_actions_' + selection.group | translate }}&nbsp;<span class="italic">{{ selection.label }}</span>
            </div>
            <mat-list-item *ngIf="groups.includes(selection.group)">
                <div mat-line>
                    <button mat-button (click)="showInfo(selection)">
                        <mat-icon>info</mat-icon>
                        {{'text.info' | translate}}
                    </button>
                </div>
            </mat-list-item>
            <mat-list-item *ngIf="groups.includes(selection.group)">
                <div mat-line>
                    <button mat-button color="accent" (click)="addEdit(selection, selection.group)">
                        <mat-icon>edit</mat-icon>
                        {{'text.edit' | translate}}</button>
                </div>
            </mat-list-item>
            <mat-list-item *ngIf="groups.includes(selection.group)">
                <div mat-line>
                    <button mat-button color="warn" (click)="delete(selection)">
                        <mat-icon>delete</mat-icon>
                        {{'text.delete' | translate}}
                    </button>
                </div>
            </mat-list-item>
            <mat-list-item *ngIf="groups.includes(selection.group)">
                <div mat-line>
                    <button mat-button (click)="addEditPlugin(selection)">
                        <mat-icon class="color-plugin">settings_input_component</mat-icon>&nbsp;
                        {{'plugin.add' | translate}}
                    </button>
                </div>
            </mat-list-item>
        </mat-list>
    </div>
</div>
