table {
    width: 100%;
}

.cell-ssl {
    //color: #616161;
    font-weight: bold;
    font-variant: small-caps;
}

.cell-ssl span {
    margin-right: 5px;
    margin-left: 5px;
}

.cell-ssl .on {
    color: #26A69A;
}

.cell-ssl .off {
    color: #26A69A;
}
