<mat-progress-bar [fxShow]="loading" color="accent" mode="indeterminate"></mat-progress-bar>
<div [fxShow]="!loading" class="progress-placeholder"></div>

<div [fxShow]="!loading" class="padding-30">
    <div gdAreas="node node server server | database database files files | plugins plugins plugins plugins"
         gdGap="30px"
         gdRows="auto auto auto">
        <div gdArea="node">
            <mat-toolbar color="accent">
                {{'information.node' | translate}}
                <span class="spacer"></span>
                <button (click)="downloadJson('info')" mat-icon-button matTooltip="{{'information.download_info' | translate}}"
                        matTooltipClass="tooltip-teal">
                    <mat-icon>info</mat-icon>
                </button>
                <button (click)="downloadJson('status')" mat-icon-button matTooltip="{{'information.download_status' | translate}}"
                        matTooltipClass="tooltip-teal">
                    <mat-icon>assignment</mat-icon>
                </button>
            </mat-toolbar>

            <div class="list-block">
                <div fxLayout="row">
                    <p class="badge">{{'text.id' | translate}}</p>
                    <p>{{data['node_id']}}</p>
                </div>
                <div fxLayout="row">
                    <p class="badge">{{'information.hostname' | translate}}</p>
                    <p>{{data['hostname']}}</p>
                </div>
                <div fxLayout="row">
                    <p class="badge">{{'information.version' | translate}}</p>
                    <p>{{data['version']}}</p>
                </div>
                <div fxLayout="row">
                    <p class="badge">{{'information.router_mode' | translate}}</p>
                    <p>{{data['router_flavor']}}</p>
                </div>
                <div fxLayout="row">
                    <p class="badge" fxLayout="row" fxLayoutAlign="center center">{{'information.admin_listen' | translate}}</p>
                    <p>{{data['admin_listen']}}</p>
                </div>
                <div fxLayout="row">
                    <p class="badge">{{'information.admin_ssl' | translate}}</p>
                    <p>{{'text.' + data['admin_ssl'] | translate}}</p>
                </div>
                <div fxLayout="row">
                    <p class="badge">{{'information.proxy_listen' | translate}}</p>
                    <p>{{data['proxy_listen']}}</p>
                </div>
                <div fxLayout="row">
                    <p class="badge">{{'information.proxy_ssl' | translate}}</p>
                    <p>{{'text.' + data['proxy_ssl'] | translate}}</p>
                </div>
                <div fxLayout="row">
                    <p class="badge">{{'information.cluster_control_plane' | translate}}</p>
                    <p>{{data['cluster_control_plane'] | translate}}</p>
                </div>
                <div fxLayout="row">
                    <p class="badge">{{'information.anonymous_reports' | translate}}</p>
                    <p>{{'text.' + data['anonymous_reports'] | translate}}</p>
                </div>
            </div>
        </div>
        <div gdArea="server">
            <mat-toolbar color="accent">
                {{'information.server' | translate}}
            </mat-toolbar>

            <div class="padding-20 dark" fxLayout="row" fxLayoutAlign="center start">
                <ngx-charts-bar-vertical
                        [results]="chartData"
                        [scheme]="colorScheme"
                        [view]="chartSize"
                        rotateXAxisTicks="true"
                        showDataLabel="true"
                        tooltipDisabled="false"
                        xAxis="true">
                </ngx-charts-bar-vertical>
            </div>
        </div>
        <div gdArea="plugins">
            <mat-toolbar color="accent">
                {{'information.plugins' | translate}}
            </mat-toolbar>

            <div class="padding-20">
                <mat-chip-list *ngIf="data['plugins']">
                    <mat-chip *ngFor="let plug of data['plugins']" [color]="plug['used']?'accent':'primary'" [fxShow]="plug['available']"
                              matTooltip="{{ (plug['used'] ? 'information.used' : 'information.available') | translate}}" matTooltipClass="tooltip-teal">
                        {{plug.name}}
                    </mat-chip>
                </mat-chip-list>
            </div>
        </div>
        <div *ngIf="data['files']" class="block-25" gdArea="files">
            <mat-toolbar color="accent">
                {{'information.files.title' | translate}}
            </mat-toolbar>

            <div>
                <mat-list>
                    <mat-list-item><span class="badge">{{'information.files.kong_env' | translate}}</span> {{data['files']['kong_env']}}</mat-list-item>
                    <mat-list-item><span class="badge">{{'information.files.nginx_conf' | translate}}</span> {{data['files']['nginx_conf']}}</mat-list-item>
                    <mat-list-item><span class="badge">{{'information.files.nginx_acc_logs' | translate}}</span> {{data['files']['nginx_acc_logs']}}
                    </mat-list-item>
                    <mat-list-item><span class="badge">{{'information.files.nginx_err_logs' | translate}}</span> {{data['files']['nginx_err_logs']}}
                    </mat-list-item>
                    <mat-list-item><span class="badge">{{'information.files.proxy_access_log' | translate}}</span> {{data['files']['proxy_access_log']}}
                    </mat-list-item>
                    <mat-list-item><span class="badge">{{'information.files.proxy_error_log' | translate}}</span> {{data['files']['proxy_error_log']}}
                    </mat-list-item>
                    <mat-list-item><span class="badge">{{'information.files.admin_acc_logs' | translate}}</span> {{data['files']['admin_acc_logs']}}
                    </mat-list-item>
                    <mat-list-item><span class="badge">{{'information.files.admin_access_log' | translate}}</span> {{data['files']['admin_access_log']}}
                    </mat-list-item>
                    <mat-list-item><span class="badge">{{'information.files.admin_error_log' | translate}}</span> {{data['files']['admin_error_log']}}
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
        <div *ngIf="data['database']" class="block-25" gdArea="database">
            <mat-toolbar color="accent">
                {{'information.database' | translate}}
                <span class="spacer"></span>
                {{ data['database']['type'] }}
            </mat-toolbar>

            <div>
                <mat-list>
                    <mat-list-item><span class="badge">{{'information.db.host' | translate}}</span> {{data['database']['host']}}</mat-list-item>
                    <mat-list-item><span class="badge">{{'information.db.port' | translate}}</span> {{data['database']['port']}}</mat-list-item>
                    <mat-list-item><span class="badge">{{'information.db.name' | translate}}</span> {{data['database']['name']}}</mat-list-item>
                    <mat-list-item><span class="badge">{{'information.db.username' | translate}}</span> {{data['database']['username']}}</mat-list-item>
                    <mat-list-item><span class="badge">{{'information.db.ssl' | translate}}</span> {{ 'text.' + data['database']['ssl'] | translate}}
                    </mat-list-item>
                    <mat-list-item><span
                            class="badge">{{'information.db.ssl_verify' | translate}}</span> {{ 'text.' + data['database']['ssl_verify'] | translate}}
                    </mat-list-item>
                    <mat-list-item><span class="badge">{{'information.db.timeout' | translate}}</span> {{data['database']['timeout']}}</mat-list-item>
                </mat-list>
            </div>
        </div>
    </div>
</div>
