<div class="padding-20">
    <div gdAreas="node node server server | plugins plugins plugins database"
         gdGap="20px"
         gdRows="auto auto auto">
        <div gdArea="node">
            <mat-toolbar color="accent">
                {{'information.node' | translate}}
                <span class="spacer"></span>
                <button mat-icon-button matTooltip="{{'information.download_info' | translate}}" matTooltipClass="tooltip-teal">
                    <mat-icon>info</mat-icon>
                </button>
                <button mat-icon-button matTooltip="{{'information.download_status' | translate}}" matTooltipClass="tooltip-teal">
                    <mat-icon>assignment</mat-icon>
                </button>
            </mat-toolbar>

            <div>
                <mat-list role="list">
                    <mat-list-item><span class="badge">{{'text.id' | translate}}</span> {{data['node_id']}}</mat-list-item>
                    <mat-list-item><span class="badge">{{'information.version' | translate}}</span> {{data['version']}}</mat-list-item>
                    <mat-list-item><span class="badge">{{'information.admin_listen' | translate}}</span> {{data['admin_listen']}}</mat-list-item>
                    <mat-list-item><span class="badge">{{'information.admin_ssl' | translate}}</span> {{'text.' + data['admin_ssl'] | translate}}
                    </mat-list-item>
                    <mat-list-item><span class="badge">{{'information.proxy_listen' | translate}}</span> {{data['proxy_listen']}}</mat-list-item>
                    <mat-list-item><span class="badge">{{'information.proxy_ssl' | translate}}</span> {{'text.' + data['proxy_ssl'] | translate}}
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
        <div gdArea="server">
            <mat-toolbar color="accent">
                {{'information.server' | translate}}
            </mat-toolbar>

            <div class="padding-20 dark" fxLayout="row" fxLayoutAlign="center start">
                <ngx-charts-bar-vertical
                        [view]="chartSize"
                        [results]="chartData"
                        [scheme]="colorScheme"
                        tooltipDisabled="false"
                        showDataLabel="true"
                        xAxis="true"
                        rotateXAxisTicks="true">
                </ngx-charts-bar-vertical>
            </div>
        </div>
        <div gdArea="plugins">
            <mat-toolbar color="accent">
                {{'information.plugins' | translate}}
            </mat-toolbar>

            <div class="padding-20">
                <mat-chip-list *ngIf="data['plugins']">
                    <mat-chip *ngFor="let plug of data['plugins']" [color]="plug['used']?'accent':'primary'" [fxShow]="plug['available']"
                              matTooltip="{{ plug['used']?'information.used':'information.available' | translate}}" matTooltipClass="tooltip-teal">
                        {{plug.name}}
                    </mat-chip>
                </mat-chip-list>
            </div>
        </div>
        <div gdArea="database">
            <mat-toolbar color="accent">
                {{'information.database' | translate}}
            </mat-toolbar>

            <div>
                <mat-list role="list">
                    <mat-list-item><span class="badge">{{'' | translate}}</span> {{data['node_id']}}</mat-list-item>
                    <mat-list-item><span class="badge">{{'' | translate}}</span> {{data['version']}}</mat-list-item>
                    <mat-list-item><span class="badge">{{'' | translate}}</span> {{data['admin_listen']}}</mat-list-item>
                    <mat-list-item><span class="badge">{{'' | translate}}</span> {{data['admin_ssl']}}</mat-list-item>
                    <mat-list-item><span class="badge">{{'' | translate}}</span> {{data['proxy_listen']}}</mat-list-item>
                    <mat-list-item><span class="badge">{{'' | translate}}</span> {{data['proxy_ssl']}}</mat-list-item>
                </mat-list>
            </div>
        </div>
    </div>
</div>
