@import '@angular/material/theming';

.list-block {
    padding: 16px;
}

.badge {
    background: mat-color($mat-teal, 800);
    border-radius: 5px;
    margin-right: 10px;
    padding: 1px 15px;
    text-align: center;
}

mat-list-item {
    height: 36px !important;
}

.block-25 {
    min-width: 25vw;
}
