
.title {
    margin-right: 5px;
    color: #90A4AE;
}

p.text, div.text {
    font-weight: lighter;
}

.mat-mdc-list-base {
    padding: 0 !important;
}

.mat-mdc-list-base .mat-mdc-list-item {
    font-size: inherit !important;
    height: 36px !important;
}

.padding-left-24 {
    padding-left: 24px !important;
}

span.accent {
    color: #7FCA33;
}

span.warn {
    color: #E53935;
}
