<h2 class="margin-bottom-5-i" mat-dialog-title>
    <span *ngIf="!editMode">{{'cert.dialog.create' | translate}}</span>
    <span *ngIf="editMode">{{'cert.dialog.edit' | translate}}</span>

    <span class="btn-doc-right"><a href="https://docs.konghq.com/gateway/latest/admin-api/#add-certificate" mat-button rel="noopener noreferrer" target="_blank">
    {{'text.documentation' | translate}}
        <mat-icon class="mini-icon" iconPositionEnd>open_in_new</mat-icon></a></span>
</h2>

<mat-divider class="margin-bottom-20-i"></mat-divider>

<mat-dialog-content class="mat-typography" fxLayout="row" fxLayoutAlign="center start">
    <div *ngIf="loading" class="loading-block" fxFlex="90">
        <p fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
            <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
        </p>
    </div>

    <div *ngIf="!loading" fxFlex="90">
        <form [formGroup]="form">
            <div class="margin-bottom-10" fxLayout="column">
                <div class="margin-bottom-10" fxLayout="row" fxLayoutAlign="space-between start">
                    <mat-form-field appearance="outline" color="accent" fxFlex="48">
                        <mat-label>{{'cert.dialog.certificate' | translate}}</mat-label>
                        <textarea cdkFocusInitial rows="8" formControlName="cert" matInput placeholder="-----BEGIN CERTIFICATE-----..." required></textarea>
                        <mat-error *ngIf="certField.invalid">
                            {{ 'error.field_required' | translate }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" color="accent" fxFlex="48">
                        <mat-label>{{'cert.dialog.key' | translate}}</mat-label>
                        <textarea rows="8" formControlName="key" matInput placeholder="-----BEGIN PRIVATE KEY-----..." required></textarea>
                        <mat-error *ngIf="keyField.invalid">
                            {{ 'error.field_required' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="margin-bottom-10" fxLayout="row" fxLayoutAlign="space-between start">
                    <mat-form-field appearance="outline" color="accent" fxFlex="48">
                        <mat-label>{{'cert.dialog.certificate_alt' | translate}}</mat-label>
                        <textarea rows="8" cdkFocusInitial formControlName="cert_alt" matInput placeholder="-----BEGIN CERTIFICATE-----..."></textarea>
                        <mat-error *ngIf="certAltField.invalid">
                            {{ 'error.field_required' | translate }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" color="accent" fxFlex="48">
                        <mat-label>{{'cert.dialog.key_alt' | translate}}</mat-label>
                        <textarea rows="8" formControlName="key_alt" matInput placeholder="-----BEGIN PRIVATE KEY-----..."></textarea>
                        <mat-error *ngIf="keyAltField.invalid">
                            {{ 'error.field_required' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="margin-bottom-10" fxLayout="row" fxLayoutAlign="space-between start">
                    <mat-form-field appearance="outline" color="accent" fxFlex="100">
                        <mat-chip-grid #chipList aria-label="">
                            <mat-chip-row (removed)="removeTag(tag)"
                                      *ngFor="let tag of currentTags" removable="true">{{tag}}
                                <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip-row>
                            <input (matChipInputTokenEnd)="addTag($event)"
                                   [matAutocomplete]="auto"
                                   [matChipInputFor]="chipList"
                                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                   formControlName="tags"
                                   matChipInputAddOnBlur="true"
                                   placeholder="{{'service.dialog.tags' | translate}}"/>
                        </mat-chip-grid>
                        <mat-hint>{{'service.dialog.tags_hint' | translate}}</mat-hint>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedTag($event)">
                            <mat-option *ngFor="let tag of allTags" [value]="tag">
                                {{tag}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
</mat-dialog-content>

<mat-divider class="margin-bottom-10-i margin-top-10-i"></mat-divider>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between start">
    <div></div>
    <div>
        <button color="warn" mat-button mat-dialog-close="null">{{'text.cancel' | translate}}</button>
        <!-- Si a disabled le pasamos una función da error de ExpressionChangedAfterItHasBeenCheckedError -->
        <button (click)="onSubmit()" [disabled]="form.invalid" color="accent"
                mat-flat-button>
            <span *ngIf="!editMode">{{'text.create' | translate}}</span>
            <span *ngIf="editMode">{{'text.edit' | translate}}</span>
        </button>
    </div>
</mat-dialog-actions>
