@import '@angular/material/theming';

.title {
    text-decoration: none;
    color: white;
    font-variant: petite-caps;
    font-size: 1.5rem;
}

.logo {
    height: 60%;
}

.small-font {
    font-size: .8rem;
}

.active-route {
    color: mat-color($mat-teal, A400);
}

#manual-container {
    position: fixed;
    width: 100%;
    transition: 0.5s;
    z-index: 999;
}

#manual-container div.manual-text {
    position: absolute;
    right: -50%;
    top: 0;
    width: 50%;
    height: 100%;
    background: #f5f5f5;
    color: #1a1a1a;
    overflow-x: auto;
    transition: 0.5s;
}

#manual-container.showing {
    background: rgba(200, 200, 200, 0.3);
    transition: 0.5s;
}

#manual-container.showing div.manual-text {
    right: -10px;
    transition: 0.5s;
}

#manual-container .manual-btn-top {
    position: sticky;
    left: 93%;
    bottom: 2%;
}

#manual-container section {
    padding-left: 1rem;
}
