<mat-toolbar color="primary">
    <img class="logo" src="assets/img/logo.svg" alt=""/>
    <div [fxFlexOffset]="1">King for Kong</div>

    <button mat-button color="accent" [fxFlexOffset]="2">
        <mat-icon>architecture</mat-icon>
        {{ 'header.menu.graph' | translate | uppercase }}
    </button>

    <span fxFlex></span>

    <form [formGroup]="formNodes" fxFlex="20">
        <mat-form-field class="small-font" color="accent" fxFlex>
            <input type="text" aria-label="" matInput
                   placeholder="{{'header.menu.kong_node' | translate}}"
                   formControlName="node"
                   [matAutocomplete]="auto"
                   matTooltip="{{'header.menu.kong_node_tooltip' | translate}}"
                   matTooltipClass="tooltip-teal"
                   [matTooltipShowDelay]="1000">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of node_list" [value]="option" class="small-font">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="nodeField.invalid && (nodeField.dirty || nodeField.touched)">
                <div *ngIf="nodeField.errors.required">{{ 'header.menu.error_node_field' | translate }}</div>
            </mat-error>
        </mat-form-field>
        <button mat-icon-button (click)="connectToNode()" color="accent"
                matTooltip="{{'header.menu.kong_node_button_tooltip' | translate}}"
                matTooltipClass="tooltip-teal">
            <mat-icon>play_arrow</mat-icon>
        </button>
    </form>
</mat-toolbar>

<router-outlet></router-outlet>

<nav>
    <a routerLink="/node-information" routerLinkActive="active">Crisis Center</a>
    <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
</nav>


