
.title {
    text-decoration: none;
    color: white;
    font-variant: petite-caps;
    font-size: 1.5rem;
}

.logo {
    height: 60%;
}

.toolbar-color {
    background-color: #263238;
}

.small-font {
    font-size: .8rem;
}

.active-route {
    color: #1DE9B6;
}

.grey-color {
    color: #ccc;
}

#manual-container {
    position: fixed;
    width: 99%;
    transition: 0.5s;
    z-index: 999;
}

#manual-container div.manual-text {
    position: absolute;
    right: -50%;
    top: 0;
    width: 50%;
    height: 100%;
    background: #f5f5f5;
    color: #1a1a1a;
    overflow-x: auto;
    transition: 0.5s;
}

#manual-container.showing {
    background: rgba(200, 200, 200, 0.3);
    transition: 0.5s;
}

#manual-container.showing div.manual-text {
    right: -17px;
    transition: 0.5s;
}

#manual-container .manual-btn-top {
    position: sticky;
    left: 93%;
    bottom: 2%;
}

#manual-container section {
    padding-left: 1rem;
}

.version {
    color: #666;
    font-style: italic;
    margin-right: 10px;
}

.mini-hint.mat-mdc-form-field-bottom-align::before {
    height: 12px;
}

.mini-hint {
    color: #999;
}
