<mat-toolbar color="primary" id="header-container">
    <img alt="" class="logo" matTooltip="ROAR!" matTooltipClass="tooltip-teal" matTooltipShowDelay="2000" src="assets/img/logo.svg"/>

    <div [fxFlexOffset]="1"><a class="title" routerLink="/node-information">King for Kong</a></div>

    <div>
        <button [disabled]="!isConnectedToNode()" [fxFlexOffset]="2" color="accent" mat-button routerLink="/architect" routerLinkActive="active-route">
            <mat-icon>architecture</mat-icon>
            {{ 'header.menu.graph' | translate | uppercase }}
        </button>
        <button [disabled]="!isConnectedToNode()" [matMenuTriggerFor]="menuE" [ngClass]="isElementRouteActive()" color="accent" mat-button>
            <mat-icon>category</mat-icon>
            {{ 'header.menu.elements' | translate | uppercase }}
        </button>
        <mat-menu #menuE="matMenu">
            <button mat-menu-item routerLink="/element-service" routerLinkActive="active-route">
                <mat-icon class="color-service">memory</mat-icon>
                {{ 'header.menu.services' | translate | uppercase }}
            </button>
            <button mat-menu-item routerLink="/element-route" routerLinkActive="active-route">
                <mat-icon class="color-route">timeline</mat-icon>
                {{ 'header.menu.routes' | translate | uppercase }}
            </button>
            <button mat-menu-item routerLink="/element-upstream" routerLinkActive="active-route">
                <mat-icon class="color-upstream">share</mat-icon>
                {{ 'header.menu.upstreams' | translate | uppercase }}
            </button>
        </mat-menu>
        <button [disabled]="!isConnectedToNode()" color="accent" mat-button routerLink="/plugin-list" routerLinkActive="active-route">
            <mat-icon>settings_input_component</mat-icon>
            {{ 'header.menu.plugins' | translate | uppercase }}
        </button>
        <button [disabled]="!isConnectedToNode()" [matMenuTriggerFor]="menuD" [ngClass]="isAccessControlRouteActive()" color="accent" mat-button>
            <mat-icon>fingerprint</mat-icon>
            {{ 'header.menu.acl' | translate | uppercase }}
        </button>
        <mat-menu #menuD="matMenu">
            <button mat-menu-item routerLink="/element-consumer" routerLinkActive="active-route">
                <mat-icon class="color-consumer">shopping_cart</mat-icon>
                {{ 'header.menu.consumers' | translate | uppercase }}
            </button>
            <button mat-menu-item routerLink="/access-acls" routerLinkActive="active-route">
                <mat-icon>people</mat-icon>
                {{'header.menu.acls' | translate | uppercase}}
            </button>
            <button mat-menu-item routerLink="/access-key" routerLinkActive="active-route">
                <mat-icon>vpn_key</mat-icon>
                {{'header.menu.keys' | translate | uppercase}}
            </button>
        </mat-menu>
        <button [disabled]="!isConnectedToNode()" [matMenuTriggerFor]="menuC" [ngClass]="isCertificateRouteActive()" color="accent" mat-button>
            <mat-icon>security</mat-icon>
            {{ 'header.menu.certs' | translate | uppercase }}
        </button>
        <mat-menu #menuC="matMenu">
            <button mat-menu-item routerLink="/certificate-cert" routerLinkActive="active-route">
                <mat-icon>https</mat-icon>
                {{'header.menu.certificates' | translate | uppercase}}
            </button>
            <button mat-menu-item routerLink="/certificate-cacert" routerLinkActive="active-route">
                <mat-icon>account_balance</mat-icon>
                {{'header.menu.cacerts' | translate | uppercase}}
            </button>
            <button mat-menu-item routerLink="/certificate-sni" routerLinkActive="active-route">
                <mat-icon>vpn_lock</mat-icon>
                {{'header.menu.snis' | translate | uppercase}}
            </button>
        </mat-menu>

    </div>

    <span fxFlex></span>

    <form [formGroup]="formNodes" fxFlex.gt-md="25" fxFlex.lt-lg="40">
        <mat-form-field class="small-font" color="accent" fxFlex>
            <input [matAutocomplete]="auto" [matTooltipShowDelay]="1000" aria-label=""
                   formControlName="node"
                   matInput
                   matTooltip="{{'header.menu.kong_node_tooltip' | translate}}"
                   matTooltipClass="tooltip-teal"
                   placeholder="{{'header.menu.kong_node' | translate}}"
                   type="text"/>
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of node_list" [value]="option" class="small-font">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="nodeField.invalid && (nodeField.dirty || nodeField.touched)">
                <div *ngIf="nodeField.errors.required">{{ 'header.menu.error_node_field' | translate }}</div>
            </mat-error>
        </mat-form-field>
        <button (click)="connectToNode()" [matTooltipShowDelay]="1000" color="accent"
                mat-icon-button
                matTooltip="{{'header.menu.kong_node_button_tooltip' | translate}}"
                matTooltipClass="tooltip-teal">
            <mat-icon>play_arrow</mat-icon>
        </button>
    </form>
</mat-toolbar>

<router-outlet></router-outlet>

<footer fxLayout="row" fxLayoutAlign="space-between center" id="footer-container">
    <div>
        <mat-button-toggle-group [formControl]="lang" aria-label="">
            <mat-button-toggle (click)="changeLang('en')" value="en">english</mat-button-toggle>
            <mat-button-toggle (click)="changeLang('es')" value="es">español</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div>
        <button (click)="showAbout()" mat-button>
            <mat-icon>not_listed_location</mat-icon>
            {{'footer.about' | translate}}
        </button>
        <button (click)="toggleManual()" mat-button>
            <mat-icon>import_contacts</mat-icon>
            {{'footer.manual' | translate}}
        </button>
    </div>
    <a href="https://github.com/ligreman/king" mat-icon-button matTooltip="https://github.com/ligreman/king" matTooltipPosition="left" rel="noopener noreferrer"
       target="_blank">
        <img alt="GitHub" src="assets/img/github.png"/>
    </a>
</footer>

<div [fxShow]="openedManual" [ngClass]="{'showing': showManualText}" [ngStyle]="{'height.px': manualStyles.height, 'top.px': manualStyles.top}"
     id="manual-container">
    <div class="manual-text" id="manual-text">
        <mat-toolbar color="accent" fxLayout="row" fxLayoutAlign="space-between center">
            <span #mSummary id="mSummary">{{ 'manual.title' | translate}}</span>
            <button (click)="toggleManual()" mat-icon-button>
                <mat-icon>clear</mat-icon>
            </button>
        </mat-toolbar>

        <app-manual-content [summary]="mSummary"></app-manual-content>

        <button (click)="scrollTo(mSummary)" class="manual-btn-top" color="primary" mat-icon-button>
            <mat-icon>vertical_align_top</mat-icon>
        </button>
    </div>
</div>
