<mat-toolbar color="primary">
    <img class="logo" src="assets/img/logo.svg" alt=""/>

    <div [fxFlexOffset]="1"><a class="title" routerLink="/node-information">King for Kong</a></div>

    <div>
        <button mat-button color="accent" [fxFlexOffset]="2" routerLink="/architect" [disabled]="!isConnectedToNode()">
            <mat-icon>architecture</mat-icon>
            {{ 'header.menu.graph' | translate | uppercase }}
        </button>
        <button mat-button [matMenuTriggerFor]="menuE" [disabled]="!isConnectedToNode()" color="accent">
            <mat-icon>category</mat-icon>
            {{ 'header.menu.elements' | translate | uppercase }}
        </button>
        <mat-menu #menuE="matMenu">
            <button mat-menu-item>
                <mat-icon class="color-service">memory</mat-icon>
                Servicios
            </button>
            <button mat-menu-item>
                <mat-icon class="color-route">timeline</mat-icon>
                Rutas
            </button>
            <button mat-menu-item>
                <mat-icon class="color-upstream">mediation</mat-icon>
                Upstreams
            </button>
            <button mat-menu-item>
                <mat-icon class="color-consumer">shopping_cart</mat-icon>
                Consumidores
            </button>
        </mat-menu>
        <button mat-button color="accent" routerLink="/plugins" [disabled]="!isConnectedToNode()">
            <mat-icon>settings_input_component</mat-icon>
            {{ 'header.menu.plugins' | translate | uppercase }}
        </button>
        <button mat-button [matMenuTriggerFor]="menuC" [disabled]="!isConnectedToNode()" color="accent">
            <mat-icon>https</mat-icon>
            {{ 'header.menu.certs' | translate | uppercase }}
        </button>
        <mat-menu #menuC="matMenu">
            <button mat-menu-item>
                <mat-icon>https</mat-icon>
                Certificados
            </button>
            <button mat-menu-item>
                <mat-icon>https</mat-icon>
                Certificados de CA
            </button>
            <button mat-menu-item>
                <mat-icon>https</mat-icon>
                SNIs
            </button>
        </mat-menu>
    </div>

    <span fxFlex></span>

    <form [formGroup]="formNodes" fxFlex.gt-md="25" fxFlex.lt-lg="40">
        <mat-form-field class="small-font" color="accent" fxFlex>
            <input type="text" aria-label="" matInput
                   placeholder="{{'header.menu.kong_node' | translate}}"
                   formControlName="node"
                   [matAutocomplete]="auto"
                   matTooltip="{{'header.menu.kong_node_tooltip' | translate}}"
                   matTooltipClass="tooltip-teal"
                   [matTooltipShowDelay]="1000"/>
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of node_list" [value]="option" class="small-font">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="nodeField.invalid && (nodeField.dirty || nodeField.touched)">
                <div *ngIf="nodeField.errors.required">{{ 'header.menu.error_node_field' | translate }}</div>
            </mat-error>
        </mat-form-field>
        <button mat-icon-button (click)="connectToNode()" color="accent"
                matTooltip="{{'header.menu.kong_node_button_tooltip' | translate}}"
                matTooltipClass="tooltip-teal"
                [matTooltipShowDelay]="1000">
            <mat-icon>play_arrow</mat-icon>
        </button>
    </form>
</mat-toolbar>

<router-outlet></router-outlet>

<footer fxLayout="row" fxLayoutAlign="space-between center">
    <div>
        <mat-button-toggle-group aria-label="" [formControl]="lang">
            <mat-button-toggle (click)="changeLang('en')" value="en">english</mat-button-toggle>
            <mat-button-toggle (click)="changeLang('es')" value="es">español</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div>
        <button mat-button>{{'footer.about' | translate}}</button>
    </div>
    <a href="https://github.com/ligreman/king" mat-icon-button matTooltip="https://github.com/ligreman/king" matTooltipPosition="left" target="_blank">
        <img src="assets/img/github.png" alt="GitHub"/>
    </a>
</footer>
