<div class="manual-block">
    <ol class="padding-0">
        <li><a (click)="scrollTo(m1)">Connecting to a Kong node</a></li>
        <li><a (click)="scrollTo(m2)">Node information</a></li>
        <li><a (click)="scrollTo(m3)">Kong Components</a>
            <ol>
                <li><a (click)="scrollTo(m31)">Traffic flow through Kong</a></li>
                <li><a (click)="scrollTo(m32)">Group elements of the graph</a></li>
            </ol>
        </li>
        <li><a (click)="scrollTo(m4)">Plugins</a>
            <ol>
                <li><a (click)="scrollTo(m41)">Configuring a plugin</a></li>
                <li><a (click)="scrollTo(m42)">Plugins of interest</a></li>
            </ol>
        </li>
        <li><a (click)="scrollTo(m5)">Protecting a service</a>
            <ol>
                <li><a (click)="scrollTo(m51)">Consumers</a></li>
                <li><a (click)="scrollTo(m52)">Credentials</a></li>
                <li><a (click)="scrollTo(m53)">Authentication</a></li>
                <li><a (click)="scrollTo(m54)">Groups and sessions</a></li>
                <li><a (click)="scrollTo(m55)">Certificates</a></li>
            </ol>
        </li>
        <li><a (click)="scrollTo(m6)">Request traffic</a>
            <ol>
                <li><a (click)="scrollTo(m61)">Load balancing</a></li>
                <li><a (click)="scrollTo(m62)">Traffic control</a></li>
            </ol>
        </li>
        <li><a (click)="scrollTo(m7)">Monitoring</a>
            <ol>
                <li><a (click)="scrollTo(m71)">API health status</a></li>
                <li><a (click)="scrollTo(m72)">Metrics and Logs</a></li>
                <li><a (click)="scrollTo(m73)">Syslog</a></li>
            </ol>
        </li>
        <li><a (click)="scrollTo(m8)">Optimizing performance</a>
            <ol>
                <li><a (click)="scrollTo(m81)">Kong node cluster</a></li>
                <li><a (click)="scrollTo(m82)">Caching requests</a></li>
                <li><a (click)="scrollTo(m83)">Resource allocation</a></li>
            </ol>
        </li>
    </ol>
</div>

<div class="padding-left-20 padding-right-20">
    <hr/>
</div>

<div #m1 class="manual-block" id="m1"><h2>1. Connecting to a Kong node</h2>
    <section>
        <p>To connect to a Kong node, enter the url and port of the administration API of said node, in the form field located at the upper right part of the
            application, and press the connection button
            <mat-icon color="accent">play_arrow</mat-icon>
            .
        </p>
        <p>The nodes with which we have previously connected successfully will be saved in the browser, and will appear in the form as a drop-down list.</p>
    </section>
</div>
<div #m2 class="manual-block" id="m2"><h2>2. Node information</h2>
    <section>
        <p>When connecting to a node we will access its information page. We can return to this page by clicking on the name of the application <span
                class="capitalize">"King for Kong"</span> next to the logo.</p>
        <p>This screen shows Kong's configuration information, and a graph with some basic connection metrics. It also shows the list of plugins available on
            the server and those currently in use that appear in green.</p>
    </section>
</div>

<div #m3 class="manual-block" id="m3"><h2>3. Kong components</h2>
    <section>
        <p>When managing traffic through the API Gateway, different components participate:</p>
        <ul>
            <li><span class="bold">Services</span>: component that abstracts and manages the API to be published.</li>
            <li><span class="bold">Routes</span>: access points for clients that send requests to published APIs. The Routes define whether and how the
                requests received to the Services are sent. A Service can have multiple Routes.
            </li>
            <li><span class="bold">Upstreams</span>: it is the internal load balancer of the Gateway that forwards the requests to the final API server. It is
                connected to a Service by using the name of the Upstream as the host of the Service.
            </li>
            <li><span class="bold">Consumers</span>: represent the clients or end users of the APIs. You can associate a Consumer with each end client, or
                treat several clients as the same Consumer (for example, all android clients). Among other uses, they provide control over who can access
                an API.
            </li>
            <li><span class="bold">Plugins</span>: provide different configurable functionality, such as security mechanisms, traffic control, monitoring,
                logs, etc. Plugins can be applied to a specific route, service or consumer; or configure them globally to apply to the entire Gateway.
            </li>
        </ul>
        <p>Read more about the way to manage all these elements through the administration API in the <a
                href="https://docs.konghq.com/gateway-oss/2.3.x/admin-api/#service-object" rel="noopener noreferrer" target="_blank">official documentation</a>.
        </p>
        <h3 #m31 id="m31">3.1. Traffic flow through Kong</h3>
        <section>
            <p>Kong publishes an API, called a Proxy API, for clients to send their requests to the final API servers. When a request arrives at the Proxy
                API, Kong tries to fit it into one of the Routes created. If it finds a Route that matches, it will redirect the request to the Service to which
                the
                Route is associated. In case it matches several Routes, an order of priority is applied to decide which one is correct.</p>
            <p>You can check the order of priority when verifying the Gateway Routes that match a request in the <a
                    href="https://docs.konghq.com/gateway-oss/2.3.x/proxy/#routes-and-matching-capabilities" rel="noopener noreferrer" target="_blank">official
                documentation</a>.</p>
        </section>

        <h3 #m32 id="m32">3.2. Group elements of the graph</h3>
        <section>
            <p>To better organize the graph and facilitate the visualization of the different elements that make up the APIs, elements can be grouped into
                clusters or groups so that the graph is cleaner.</p>
            <p>To do this, we must label the different elements that we want to be part of the same group by means of a label, whose name begins with 'c-'. For
                example, if I label the route, service, upstream and targets of an API with the <em>c-mi-api</em> tag, they will appear grouped in the graph,
                making it easier to visualize.</p>
            <p>To ungroup a group you have to double click on it. And if you do not want the elements to be grouped, you can deactivate this form of
                visualization with the corresponding button located in the upper right part of the graph.</p>
        </section>
    </section>
</div>

<div #m4 class="manual-block" id="m4"><h2>4. Plugins</h2>
    <section>
        <p>There are numerous official plugins that can be used to add functionality to the Gateway. You can check the list of plugins in the <a
                href="https://docs.konghq.com/hub" rel="noopener noreferrer" target="_blank">Kong Hub</a>.</p>
        <h3 #m41 id="m41">4.1. Configuring a plugin</h3>
        <section>
            <p>When creating a new Plugin it can be associated with a specific Service, Route or Consumed (it depends on the plugin). Then that specific
                Plugin will apply to the requests that arrive at said Service or Route, or come from said Consumer. A Plugin can also be applied globally if it
                is
                not associated with any of those elements, and then it will apply to all requests that arrive at the Gateway. Apart from this, each Plugin will
                have
                its own configuration parameters.</p>
            <p>It is possible to have multiple Plugins of the same type applied to different points of the Gateway and with different configuration. For
                example, you can have a Plugin that limits the requests to 100 per minute globally, and then another at the Route level that limits the requests
                that arrive to that specific Route to 5 per minute. You can check here the <a
                        href="https://docs.konghq.com/gateway-oss/2.3.x/admin-api/#precedence"
                        rel="noopener noreferrer" target="_blank">Plugin order of
                    precedence</a>.</p>
        </section>
        <h3 #m42 id="m42">4.2. Plugins of interest</h3>
        <section>
            <p>Kong distributes the plugins by categories such as authentication, security, traffic control, etc. Throughout this manual several of these
                Plugins are referenced. It is important to consult their documentation in order to use and configure them correctly.</p>
            <p>You can consult all the Plugins and their documentation at <a href="https://docs.konghq.com/hub" rel="noopener noreferrer" target="_blank">Kong
                Hub</a>.</p>
        </section>
    </section>
</div>

<div #m5 class="manual-block" id="m5"><h2>5. Protecting a service</h2>
    <section>
        <p>Kong allows restricting access to APIs published through different Plugins. To protect an API through client authentication, three elements are
            required:</p>
        <ul>
            <li>A Consumer, who will represent one or more clients.</li>
            <li>Some credentials for the consumer, such as user and password, a token, etc.</li>
            <li>An authentication Plugin, which is in charge of validating the consumer's credentials.</li>
        </ul>
        <h3 #m51 id="m51">5.1. Consumers</h3>
        <section>
            <p>Consumers are abstractions of the end clients within the Gateway. When a client is correctly identified with credentials before an
                authentication Plugin, it will be linked to the consumer that has those credentials associated with it.</p>
            <p>There are numerous Plugins that can be applied at the Consumer level.</p>
        </section>
        <h3 #m52 id="m52">5.2. Credentials</h3>
        <section>
            <p>They are the mechanism that a Consumer will use to identify himself, and can range from a username and password, to an API token or
                certificates. When generating credentials, it will have to be done by linking them to a consumer, in order to identify it.</p>
            <p>Credential management is provided by the authentication Plugins. Each one requires different credentials that are explained in its
                documentation.</p>

        </section>
        <h3 #m53 id="m53">5.3. Authentication</h3>
        <section>
            <p>There are several Authentication Plugins that provide different mechanisms to identify consumers. Many of them are compatible with each
                other, being able to apply more than one mechanism at the same time, although it must be taken into account that the effect they have is an OR,
                that is, for the client to identify himself against one of them is sufficient.</p>
            <p>The following Plugins stand out:</p>
            <ul>
                <li><a href="https://docs.konghq.com/hub/kong-inc/basic-auth" rel="noreferrer noopener" target="_blank">Basic Authentication</a>:
                    authentication by username and password, stored in Kong.
                </li>
                <li><a href="https://docs.konghq.com/hub/kong-inc/hmac-auth" rel="noreferrer noopener" target="_blank">HMAC Authentication</a>: Authentication
                    using HMAC.
                </li>
                <li><a href="https://docs.konghq.com/hub/kong-inc/jwt" rel="noreferrer noopener" target="_blank">JWT</a>: authentication using JWT tokens.</li>
                <li><a href="https://docs.konghq.com/hub/kong-inc/key-auth" rel="noreferrer noopener" target="_blank">Key Authentication</a>: Authentication
                    using API Keys.
                </li>
                <li><a href="https://docs.konghq.com/hub/kong-inc/ldap-auth" rel="noreferrer noopener" target="_blank">LDAP Authentication</a>: Authentication
                    through integration with LDAP. Currently the open-source version of Kong does not support the verification of LDAP groups, so any valid
                    user in LDAP can be correctly identified.
                </li>
                <li><a href="https://docs.konghq.com/hub/kong-inc/oauth2" rel="noreferrer noopener" target="_blank">OAuth 2.0 Authentication</a>:
                    Authentication using OAuth 2.0.
                </li>
            </ul>
            <p>Of all of them, King for Kong currently supports the creation of credentials for "Key Authentication".</p>
        </section>
        <h3 #m54 id="m54">5.4. Groups and sessions</h3>
        <section>
            <p>It is worth highlighting a very interesting Plugin for managing consumer groups, called <a href="https://docs.konghq.com/hub/kong-inc/acl"
                                                                                                          rel="noreferrer noopener" target="_blank">ACL
            </a>. As its name indicates, it is used to manage ACLs in Kong, being able to create consumer groups. This allows us, applying this Plugin
                to a Service or Route (or globally) to restrict access to said element to a specific group of consumers. Even if a consumer has been
                correctly identified, if they do not belong to that group they will not be able to access that API.</p>
            <p>There is also another Plugin called <a href="https://docs.konghq.com/hub/kong-inc/session" rel="noreferrer noopener" target="_blank">
                Session</a> to be able to keep client sessions open in browsers. It is useful in case the Gateway serves web applications, it is not
                recommended to use it for other cases.</p>
        </section>
        <h3 #m55 id="m55">5.5. Certificates</h3>
        <section>
            <p>If any of the APIs that we want to place behind the Gateway requires authentication of its clients by means of a client certificate,
                Kong offers the possibility of <a href="https://docs.konghq.com/gateway-oss/2.3.x/admin-api/#certificate-object" rel="noreferrer noopener"
                                                  target="_blank">manage the certificates, CAs and SNIs</a>, so that they are used when calling the API
                server from the Service or Upstream final.</p>
            <p>Currently the open-source version of Kong does not support consumer authentication via certificate.</p>
        </section>
    </section>
</div>

<div #m6 class="manual-block" id="m6"><h2>6. Request traffic</h2>
    <section>
        <p>We can apply different techniques of request traffic control through several of the Plugins offered by Kong.</p>
        <h3 #m61 id="m61">6.1. Load balancing</h3>
        <section>
            <p>The management of load balancing when sending requests to the final API services is carried out by the <a
                    href="https://docs.konghq.com/gateway-oss/2.3.x/admin-api/#upstream-object" rel="noreferrer noopener" target="_blank">Upstreams</a>. An
                Upstream receives requests from the Service and redirects them to the Targets (each instance of a final API service) following
                pre-configured rules.</p>
            <p>Each Upstream contains a <a href="https://docs.konghq.com/gateway-oss/2.3.x/loadbalancing/#ring-balancer" rel="noreferrer noopener"
                                           target="_blank">Ring Balancer</a> to redirect traffic. It supports the following algorithms:</p>
            <ul>
                <li>Round-Robin: distributes requests evenly based on the weights indicated for each Target.</li>
                <li>Consisten-Hashing: especially useful if Targets are added and removed regularly to the ring, or change their weights. For example, if
                    instances (Targets) are automatically raised or eliminated.
                </li>
                <li>Least-Connections: distributes the requests by selecting the Targets with the least number of connections, weighting them with the
                    indicated weights.
                </li>
            </ul>
        </section>
        <h3 #m62 id="m62">6.2. Traffic control</h3>
        <section>
            <p>The most interesting traffic control Plugins are:</p>
            <ul>
                <li><a href="https://docs.konghq.com/hub/kong-inc/rate-limiting" rel="noreferrer noopener" target="_blank">Rate Limiting
                </a>: limits the rate of requests that can be made in a unit of time. For example, limit a Service or Route to 5 requests per minute; or
                    limit a Consumer at one rate, and another Consumer at a different rate.
                </li>
                <li><a href="https://docs.konghq.com/hub/kong-inc/request-size-limiting" rel="noreferrer noopener" target="_blank">Request Size Limiting</a>:
                    limit
                    the size of requests received. It is quite interesting in order to avoid denial of service attacks.
                </li>
                <li><a href="https://docs.konghq.com/hub/kong-inc/response-ratelimiting" rel="noreferrer noopener" target="_blank">Response Rate Limiting</a>:
                    allows setting quotas of requests that can be made a consumer to an API. For example, establish that you can make 1000 requests per month.
                    This does not limit the rate of requests, that is what the Rate-Limiting Plugin does.
                </li>
            </ul>
        </section>
    </section>
</div>


<div #m7 class="manual-block" id="m7"><h2>7. Monitoring</h2>
    <section>
        <p>Kong allows you to monitor the activity of the Gateway and the requests that circulate through it, and offers different mechanisms and Plugins
            to consult and manage this activity.</p>
        <h3 #m71 id="m71">7.1. Health status of the APIs</h3>
        <section>
            <p>In addition to acting as load balancers, Upstreams integrate mechanisms to verify the health status of the API server instances to which
                they connect. Scales can be established to determine if a Target (or complete Upstream) is healthy or not, and if it is not, stop sending
                requests until it recovers. They can do checks actively or passively.</p>
            <p><span class="bold">Active</span> checks are carried out by making HTTPS requests to a specified Target endpoint and determining the status of
                Target's health depending on the response code. You can also check the validity of the Target's certificate. When requiring requests, it is
                recommended not to abuse them.</p>
            <p><span class="bold">Passive</span> checks are performed by analyzing the response codes of the requests made by the Gateway clients to the
                different Targets. In this case it only "observes" the traffic and deduces the status of the Target depending on the HTTP code of the responses
                it returns, so it does not generate extra traffic and does not affect performance. As a particular characteristic, passive checks can deduce if
                a Target is not healthy, to "deactivate" it, but as from that moment it will stop receiving requests, it will never be able to deduce that it is
                healthy again and that it will receive requests again. For this reason, passive checks are called "disruptors or circuit-breakers".</p>
            <p>For this reason, it is advisable to use passive checks to detect Targets that are not healthy, and establish active checks with a not very
                frequent frequency. short to determine if a Target is healthy again, in order not to increase the load on the Targets.</p>
            <p>All these checks can be configured in enough detail, it is recommended to read the <a
                    href="https://docs.konghq.com/gateway-oss/2.3.x/health-checks-circuit-breakers " rel="noreferrer noopener" target="_blank">documentation</a>.
            </p>
        </section>
        <h3 #m72 id="m72">7.2. Metrics and Logs</h3>
        <section>
            <p>Through Plugins we can collect different metrics and logs of the requests and responses that pass through the Gateway.</p>
            <ul>
                <li><a href="https://docs.konghq.com/hub/kong-inc/statsd" rel="noreferrer noopener" target="_blank">Prometheus</a>: exposes an endpoint
                    metrics for the Proxy and Administration APIs, so that Prometheus collects the usage metrics from there.
                </li>
                <li><a href="https://docs.konghq.com/hub/kong-inc/prometheus" rel="noreferrer noopener" target="_blank">StatsD</a>- Send usage metrics to a
                    StatsD server.
                </li>
                <li><a href="https://docs.konghq.com/hub/kong-inc/file-log" rel="noreferrer noopener" target="_blank">File Log</a>: sends information about
                    requests and responses to a log file.
                </li>
                <li><a href="https://docs.konghq.com/hub/kong-inc/http-log" rel="noreferrer noopener" target="_blank">HTTP Log</a>: sends information about
                    requests and responses to a HTTP server.
                </li>
                <li><a href="https://docs.konghq.com/hub/kong-inc/tcp-log" rel="noreferrer noopener" target="_blank">TCP Log</a>: sends information about
                    requests and responses to a TCP server.
                </li>
                <li><a href="https://docs.konghq.com/hub/kong-inc/udp-log" rel="noreferrer noopener" target="_blank">UDP Log</a>: sends information about
                    requests and responses to a UDP server.
                </li>
            </ul>
        </section>
        <h3 #m73 id="m73">7.3. Syslog</h3>
        <section>
            <p>Kong allows you to send your logs to syslog at two levels. On the one hand, we can configure Kong in his <a
                    href="https://docs.konghq.com/gateway-oss/2.3.x/systemd/#logging-to-syslog-and-journald" rel="noreferrer noopener" target="_blank"></a>configuration
                so that Kong's own logs are sent to syslog.</p>
            <p>On the other hand, we can send information about each request and response to Syslog as well, through the Plugin <a
                    href="https://docs.konghq.com/hub/kong-inc/syslog" rel="noreferrer noopener" target="_blank">Syslog</a>. Allows you to configure certain
                parameters to define the log levels according to the response or error code, for example, to avoid
                sending everything.</p>
        </section>
    </section>
</div>


<div #m8 class="manual-block" id="m8">
    <h2>8. Optimizing performance</h2>
    <section>
        <p>There are several things to consider to improve the performance of the API Gateway.</p>
        <h3 #m81 id="m81">8.1. Kong node cluster</h3>
        <section>
            <p>Kong allows the Gateway to be clustered in a simple way by raising different nodes, which share the same database to synchronize. You just
                have to deploy different Kong instances pointing to the same database. You can configure different ways to perform this synchronization using
                the Kong configuration file.</p>
            <p>Once clustered, each node will create its own Proxy API and Admin API. It is therefore required to put a load balancer (for example Nginx) in
                front of the Kong nodes to distribute the traffic. When you make a change to a node using the management API, it will be propagated to the other
                nodes using synchronization.</p>
            <p>More information about <a href="https://docs.konghq.com/gateway-oss/2.3.x/clustering" rel="noreferrer noopener" target="_blank">Kong
                clusters</a>.</p>
        </section>
        <h3 #m82 id="m82">8.2. Caching requests</h3>
        <section>
            <p>Performance can be improved by caching requests from the Proxy API. For this, Kong offers a Plugin called
                <a href="https://docs.konghq.com/hub/kong-inc/proxy-cache" rel="noreferrer noopener" target="_blank">Proxy Cache</a>. It allows us to establish
                a cache for the responses to incoming requests in a certain amount of time, so that if there is a cached response, the Gateway will respond
                directly with the cache, freeing the final API server from that request.</p>
            <p>More information about the <a href="https://docs.konghq.com/getting-started-guide/2.3.x/improve-performance" rel="noreferrer noopener"
                                             target="_blank">cache requests</a>.</p></section>
        <h3 #m83 id="m83">8.3. Resource allocation</h3>
        <section>
            <p>When assigning resources to the servers that will host the API Gateway, various aspects of how we have designed the network of Services,
                Routes, Upstreams... must be taken into account. and the use we make of Plugins.</p>
            <p>As general rules, it must be taken into account that:</p>
            <ul>
                <li>The number of Routes and Services affects CPU consumption.</li>
                <li>The number of Consumers and Credentials affects memory more, since they are cached to avoid constantly consulting the database.</li>
                <li>The number of Plugins configured affects the CPU.</li>
                <li>The cardinality of the Plugins configured: it refers to the number of different Plugins that we are using. A node has a higher cardinality
                    if it uses 5 different plugins, than if it used a single Plugin 1000 times. The higher the cardinality, the more CPU consumption (this does
                    not mean that the total number of Plugins does not affect, they are two different values).
                </li>
                <li>Size of requests and responses: the size of the bodies (HTTP body) of requests and responses affect in that they require more time to
                    process. Especially in very large bodies since Kong will have to buffer the request to disk while he receives the entire request, and then
                    process it (thus avoiding running out of memory). Therefore, it is advisable to avoid very large requests and responses whenever possible.
                </li>
            </ul>
            <p>More information on this topic in the <a href="https://docs.konghq.com/gateway-oss/2.3.x/sizing-guidelines" rel="noreferrer noopener"
                                                        target="_blank">documentation about resources</a>.</p>
        </section>
    </section>
</div>
