@import '~@angular/material/theming';

table {
    width: 100%;
}

.cell-highlight {
    color: mat-color($mat-gray, 700);
    font-weight: bold;
    font-variant: small-caps;
}

.cell-highlight span {
    margin-right: 5px;
    margin-left: 5px;
}

.cell-highlight .on {
    color: mat-color($mat-teal, 400);
}

.cell-highlight .off {
    color: mat-color($mat-red, 500);
}
