
table {
    width: 100%;
}

.cell-highlight {
    //color: #616161;
    font-weight: bold;
    font-variant: small-caps;
}

.cell-highlight span {
    margin-right: 5px;
    margin-left: 5px;
}

.cell-highlight .on {
    color: #26A69A;
}

.cell-highlight .off {
    color: #26A69A;
}
