<h2 class="margin-bottom-5-i" fxLayout="row" fxLayoutAlign="space-between start" mat-dialog-title>
    <span *ngIf="!editMode">{{'upstream.dialog.create' | translate}}</span>
    <span *ngIf="editMode">{{'upstream.dialog.edit' | translate}}</span>
    <span><a href="https://docs.konghq.com/2.2.x/admin-api/#add-upstream" mat-button rel="noopener noreferrer" target="_blank">
    {{'text.documentation' | translate}}
        <mat-icon class="mini-icon">open_in_new</mat-icon></a></span>
</h2>

<mat-divider class="margin-bottom-20-i"></mat-divider>

<mat-dialog-content class="mat-typography" fxLayout="row" fxLayoutAlign="center start">
    <div *ngIf="loading" class="loading-block" fxFlex="90">
        <p fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
            <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
        </p>
    </div>
    <div *ngIf="!loading && servicesAvailable.size === 0 && !editMode" fxFlex="90">
        <p fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
            {{ 'upstream.dialog.no_upstream' | translate}}
        </p>
    </div>

    <div *ngIf="!loading && (servicesAvailable.size > 0 || editMode)" fxFlex="90">
        <form [formGroup]="form">
            <!--Nombre-->
            <div class="margin-bottom-10" fxLayout="column">
                <div class="margin-bottom-10" fxLayout="row" fxLayoutAlign="space-between start">
                    <mat-form-field appearance="outline" color="accent" fxFlex="49">
                        <mat-label>{{'upstream.dialog.name' | translate}}</mat-label>
                        <mat-select cdkFocusInitial formControlName="name" required>
                            <mat-option *ngFor="let srvs of servicesAvailable | keyvalue" value="{{srvs.value}}">[{{srvs.key}}] {{srvs.value}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="nameField.invalid">
                            {{ 'error.field_required' | translate }}
                        </mat-error>
                        <mat-hint>{{'upstream.dialog.name_hint' | translate}}</mat-hint>
                    </mat-form-field>


                    <mat-form-field appearance="outline" color="accent" fxFlex="49">
                        <mat-chip-list #chipList aria-label="">
                            <mat-chip (removed)="removeTag(tag)"
                                      *ngFor="let tag of currentTags" removable="true">{{tag}}
                                <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>
                            <input (matChipInputTokenEnd)="addTag($event)"
                                   [matAutocomplete]="auto"
                                   [matChipInputFor]="chipList"
                                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                   formControlName="tags"
                                   matChipInputAddOnBlur="true"
                                   placeholder="{{'service.dialog.tags' | translate}}">
                        </mat-chip-list>
                        <mat-hint>{{'service.dialog.tags_hint' | translate}}</mat-hint>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedTag($event)">
                            <mat-option *ngFor="let tag of allTags" [value]="tag">
                                {{tag}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>

                <!--Algorithm-->
                <div class="margin-bottom-10" fxLayout="row" fxLayoutAlign="space-between start">
                    <mat-form-field appearance="outline" color="accent" fxFlex="24">
                        <mat-label>{{'upstream.dialog.algorithm' | translate}}</mat-label>
                        <mat-select formControlName="algorithm">
                            <mat-option *ngFor="let algos of validAlgorithms" value="{{algos}}">{{algos}}</mat-option>
                        </mat-select>
                        <mat-hint>
                            <a class="link" href="https://docs.konghq.com/2.2.x/loadbalancing/" rel="noopener noreferrer" target="_blank">
                                {{'upstream.dialog.algorithm_hint' | translate}}
                                <mat-icon class="link">open_in_new</mat-icon>
                            </a>
                        </mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="outline" color="accent" fxFlex="24">
                        <mat-label>{{'upstream.dialog.slots' | translate}}</mat-label>
                        <input aria-label="" formControlName="slots" matInput type="number"/>
                        <mat-icon matSuffix matTooltip="{{'upstream.dialog.slots_tooltip' | translate}}"
                                  matTooltipClass="tooltip-teal">info_outline
                        </mat-icon>
                        <mat-error *ngIf="slotsField.invalid">
                            {{ 'upstream.dialog.error.slots_min_max' | translate }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" color="accent" fxFlex="24">
                        <mat-label>{{'upstream.dialog.hash_on' | translate}}</mat-label>
                        <mat-select formControlName="hash_on">
                            <mat-option *ngFor="let hashon of validHash" value="{{hashon}}">{{hashon}}</mat-option>
                        </mat-select>
                        <mat-icon matSuffix matTooltip="{{'upstream.dialog.hash_on_tooltip' | translate}}"
                                  matTooltipClass="tooltip-teal">info_outline
                        </mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="outline" color="accent" fxFlex="24">
                        <mat-label>{{'upstream.dialog.hash_fallback' | translate}}</mat-label>
                        <mat-select formControlName="hash_fallback">
                            <mat-option *ngFor="let hashfall of validHash" value="{{hashfall}}">{{hashfall}}</mat-option>
                        </mat-select>
                        <mat-icon matSuffix matTooltip="{{'upstream.dialog.hash_fallback_tooltip' | translate}}"
                                  matTooltipClass="tooltip-teal">info_outline
                        </mat-icon>
                    </mat-form-field>
                </div>

                <!--Hash options-->
                <div class="margin-bottom-10" fxLayout="row" fxLayoutAlign="space-between start">
                    <mat-form-field appearance="outline" color="accent" fxFlex="24">
                        <mat-label>{{'upstream.dialog.hash_on_header' | translate}}</mat-label>
                        <input aria-label="" formControlName="hash_on_header" matInput placeholder="Header-Name"
                               type="text"/>
                        <mat-icon matSuffix matTooltip="{{'upstream.dialog.hash_on_header_tooltip' | translate}}"
                                  matTooltipClass="tooltip-teal">info_outline
                        </mat-icon>
                        <mat-error *ngIf="hashOnHeaderField.invalid">
                            {{ 'upstream.dialog.error.header_format' | translate }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" color="accent" fxFlex="24">
                        <mat-label>{{'upstream.dialog.hash_fallback_header' | translate}}</mat-label>
                        <input aria-label="" formControlName="hash_fallback_header" matInput placeholder="Header-Name"
                               type="text"/>
                        <mat-icon matSuffix matTooltip="{{'upstream.dialog.hash_fallback_header_tooltip' | translate}}"
                                  matTooltipClass="tooltip-teal">info_outline
                        </mat-icon>
                        <mat-error *ngIf="hashFallbakHeaderField.invalid">
                            {{ 'upstream.dialog.error.header_format' | translate }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" color="accent" fxFlex="24">
                        <mat-label>{{'upstream.dialog.hash_on_cookie' | translate}}</mat-label>
                        <input aria-label="" formControlName="hash_on_cookie" matInput placeholder="Cookie-Name"
                               type="text"/>
                        <mat-icon matSuffix matTooltip="{{'upstream.dialog.hash_on_cookie_tooltip' | translate}}"
                                  matTooltipClass="tooltip-teal">info_outline
                        </mat-icon>
                        <mat-error *ngIf="hashOnCookieField.invalid">
                            {{ 'upstream.dialog.error.cookie_format' | translate }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" color="accent" fxFlex="24">
                        <mat-label>{{'upstream.dialog.hash_on_cookie_path' | translate}}</mat-label>
                        <input aria-label="" formControlName="hash_on_cookie_path" matInput placeholder="/cookie_path"
                               type="text"/>
                        <mat-icon matSuffix matTooltip="{{'upstream.dialog.hash_on_cookie_path_tooltip' | translate}}"
                                  matTooltipClass="tooltip-teal">info_outline
                        </mat-icon>
                        <mat-error *ngIf="hashOnCookiePathField.invalid">
                            {{ 'upstream.dialog.error.path_pattern' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="space-between start">
                    <!--Certificado cliente-->
                    <mat-form-field appearance="outline" class="margin-bottom-10" color="accent" fxFlex="49">
                        <mat-label>{{'service.dialog.certificate' | translate}}</mat-label>
                        <mat-select [disabled]="certificatesAvailable.length === 0" formControlName="client_certificate">
                            <mat-option *ngFor="let cert of certificatesAvailable" value="{{cert}}">{{cert}}</mat-option>
                        </mat-select>
                        <mat-icon matSuffix matTooltip="{{'service.dialog.certificate_tooltip' | translate}}"
                                  matTooltipClass="tooltip-teal">info_outline
                        </mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline" color="accent" fxFlex="49">
                        <mat-label>{{'service.dialog.host' | translate}}</mat-label>
                        <input aria-label="" formControlName="host_header" matInput placeholder="{{'service.dialog.host_example' | translate}}"
                               type="text"/>
                        <mat-icon matSuffix matTooltip="{{'upstream.dialog.host_tooltip' | translate}}"
                                  matTooltipClass="tooltip-teal">info_outline
                        </mat-icon>
                        <mat-error *ngIf="hostHeaderField.invalid">
                            {{ 'upstream.dialog.error.host_format' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div formGroupName="healthchecks">
                <mat-accordion displayMode="flat" hideToggle multi>
                    <mat-expansion-panel #matExp disabled>
                        <mat-expansion-panel-header class="margin-bottom-20-i">
                            <mat-panel-description fxLayout="row" fxLayoutAlign="center start">
                                <button (click)="matExp.toggle(); $event.stopPropagation();" color="primary" fxFlex="50" mat-flat-button>
                                    <mat-icon [fxShow]="matExp._getExpandedState()==='collapsed'">expand_more</mat-icon>
                                    <mat-icon [fxShow]="matExp._getExpandedState()==='expanded'">expand_less</mat-icon>
                                    {{'upstream.dialog.health_target' | translate}}
                                    <mat-icon [fxShow]="matExp._getExpandedState()==='collapsed'">expand_more</mat-icon>
                                    <mat-icon [fxShow]="matExp._getExpandedState()==='expanded'">expand_less</mat-icon>
                                </button>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <div>
                            <mat-form-field appearance="outline" color="accent" fxFlex="50">
                                <mat-label>{{'upstream.dialog.threshold' | translate}}</mat-label>
                                <input aria-label="" formControlName="threshold" matInput type="number"/>
                                <mat-icon matSuffix matTooltip="{{'upstream.dialog.threshold_tooltip' | translate}}"
                                          matTooltipClass="tooltip-teal">info_outline
                                </mat-icon>
                                <mat-error *ngIf="thresholdField.invalid">
                                    {{ 'upstream.dialog.error.threshold_min_max' | translate }}
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <p>{{'upstream.dialog.health_active' | translate}}</p>
                        <!-- HEALTH ACTIVE -->
                        <div class="padding-left-20 form-block" formGroupName="active">
                            <div fxLayout="row" fxLayoutAlign="space-between start">
                                <mat-form-field appearance="outline" class="margin-bottom-10" color="accent" fxFlex="24">
                                    <mat-label>{{'upstream.dialog.type_healthcheck' | translate}}</mat-label>
                                    <mat-select formControlName="type">
                                        <mat-option *ngFor="let protos of validProtocols" value="{{protos}}">{{protos}}</mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix matTooltip="{{'upstream.dialog.type_healthcheck_tooltip' | translate}}"
                                              matTooltipClass="tooltip-teal">info_outline
                                    </mat-icon>
                                </mat-form-field>

                                <mat-form-field appearance="outline" color="accent" fxFlex="36">
                                    <mat-label>{{'upstream.dialog.http_path' | translate}}</mat-label>
                                    <input aria-label="" formControlName="http_path" matInput placeholder="{{'service.dialog.path_example' | translate}}"
                                           type="text"/>
                                    <mat-icon matSuffix matTooltip="{{'upstream.dialog.http_path_tooltip' | translate}}"
                                              matTooltipClass="tooltip-teal">info_outline
                                    </mat-icon>
                                    <mat-error *ngIf="haHttpPathField.invalid">
                                        {{ 'service.dialog.error.path_pattern' | translate }}
                                    </mat-error>
                                </mat-form-field>

                                <div class="margin-top-15" fxFlex="36">
                                    <mat-checkbox formControlName="https_verify_certificate"
                                                  matTooltip="{{'upstream.dialog.https_verify_certificate_tooltip' | translate}}"
                                                  matTooltipClass="tooltip-teal">
                                        {{ 'upstream.dialog.https_verify_certificate' | translate}}
                                    </mat-checkbox>
                                </div>
                            </div>

                            <div fxLayout="row" fxLayoutAlign="space-between start">
                                <mat-form-field appearance="outline" class="margin-bottom-10" color="accent" fxFlex="45">
                                    <mat-label>{{'upstream.dialog.https_sni' | translate}}</mat-label>
                                    <input formControlName="https_sni" matInput placeholder="{{'route.dialog.hosts_example' | translate}}"
                                           type="text"/>
                                    <mat-icon matSuffix matTooltip="{{'upstream.dialog.https_sni_tooltip' | translate}}"
                                              matTooltipClass="tooltip-teal">info_outline
                                    </mat-icon>
                                    <mat-error *ngIf="httpsSniField.invalid">
                                        {{ 'upstream.dialog.error.sni_format' | translate }}
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" color="accent" fxFlex="25">
                                    <mat-label>{{'upstream.dialog.timeout' | translate}}</mat-label>
                                    <input aria-label="" formControlName="timeout" matInput type="number"/>
                                    <mat-error *ngIf="timeoutActiveField.invalid">
                                        {{ 'upstream.dialog.error.timeout_min_max' | translate }}
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" color="accent" fxFlex="25">
                                    <mat-label>{{'upstream.dialog.concurrency' | translate}}</mat-label>
                                    <input aria-label="" formControlName="concurrency" matInput type="number"/>
                                    <mat-error *ngIf="concurrencyField.invalid">
                                        {{ 'upstream.dialog.error.concurrency_min_max' | translate }}
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <p class="margin-top-10-i">{{'upstream.dialog.health_active_healthy' | translate}}</p>
                            <div class="padding-left-20 form-block" formGroupName="healthy" fxLayout="row" fxLayoutAlign="space-between start">
                                <!--  HEALTHY  -->
                                <mat-form-field appearance="outline" color="accent" fxFlex="45">
                                    <mat-label>{{'upstream.dialog.http_statuses' | translate}}</mat-label>
                                    <mat-select formControlName="http_statuses" multiple>
                                        <mat-option *ngFor="let stat of validHttpStatuses" [value]="stat">{{stat}}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="httpStatusesAHField.hasError('isArrayOfOneOf')">
                                        {{ 'upstream.dialog.error.http_statuses' | translate }}
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" color="accent" fxFlex="25">
                                    <mat-label>{{'upstream.dialog.interval_healthy' | translate}}</mat-label>
                                    <input aria-label="" formControlName="interval" matInput type="number"/>
                                    <mat-icon matSuffix matTooltip="{{'upstream.dialog.interval_tooltip' | translate}}"
                                              matTooltipClass="tooltip-teal">info_outline
                                    </mat-icon>
                                    <mat-error *ngIf="intervalAHField.invalid">
                                        {{ 'upstream.dialog.error.timeout_min_max' | translate }}
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" color="accent" fxFlex="25">
                                    <mat-label>{{'upstream.dialog.successes' | translate}}</mat-label>
                                    <input aria-label="" formControlName="successes" matInput type="number"/>
                                    <mat-icon matSuffix matTooltip="{{'upstream.dialog.successes_tooltip' | translate}}"
                                              matTooltipClass="tooltip-teal">info_outline
                                    </mat-icon>
                                    <mat-error *ngIf="successesAHField.invalid">
                                        {{ 'upstream.dialog.error.concurrency_min_max' | translate }}
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <p class="margin-top-10-i">{{'upstream.dialog.health_active_unhealthy' | translate}}</p>
                            <div class="padding-left-20 form-block" formGroupName="unhealthy" fxLayout="column">
                                <!--  UNHEALTHY  -->
                                <div fxLayout="row" fxLayoutAlign="space-between start">
                                    <mat-form-field appearance="outline" color="accent" fxFlex="65">
                                        <mat-label>{{'upstream.dialog.http_statuses_unhealthy' | translate}}</mat-label>
                                        <mat-select formControlName="http_statuses" multiple>
                                            <mat-option *ngFor="let stat of validHttpStatuses" [value]="stat">{{stat}}</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="httpStatusesAUHField.hasError('isArrayOfOneOf')">
                                            {{ 'upstream.dialog.error.http_statuses' | translate }}
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" color="accent" fxFlex="30">
                                        <mat-label>{{'upstream.dialog.interval_unhealthy' | translate}}</mat-label>
                                        <input aria-label="" formControlName="interval" matInput type="number"/>
                                        <mat-icon matSuffix matTooltip="{{'upstream.dialog.interval_tooltip' | translate}}"
                                                  matTooltipClass="tooltip-teal">info_outline
                                        </mat-icon>
                                        <mat-error *ngIf="intervalAUHField.invalid">
                                            {{ 'upstream.dialog.error.timeout_min_max' | translate }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="space-between start">
                                    <mat-form-field appearance="outline" color="accent" fxFlex="30">
                                        <mat-label>{{'upstream.dialog.http_failures' | translate}}</mat-label>
                                        <input aria-label="" formControlName="http_failures" matInput type="number"/>
                                        <mat-icon matSuffix matTooltip="{{'upstream.dialog.http_failures_tooltip' | translate}}"
                                                  matTooltipClass="tooltip-teal">info_outline
                                        </mat-icon>
                                        <mat-error *ngIf="httpFailuresAUHField.invalid">
                                            {{ 'upstream.dialog.error.concurrency_min_max' | translate }}
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" color="accent" fxFlex="30">
                                        <mat-label>{{'upstream.dialog.tcp_failures' | translate}}</mat-label>
                                        <input aria-label="" formControlName="tcp_failures" matInput type="number"/>
                                        <mat-icon matSuffix matTooltip="{{'upstream.dialog.tcp_failures_tooltip' | translate}}"
                                                  matTooltipClass="tooltip-teal">info_outline
                                        </mat-icon>
                                        <mat-error *ngIf="tcpFailuresAUHField.invalid">
                                            {{ 'upstream.dialog.error.concurrency_min_max' | translate }}
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" color="accent" fxFlex="30">
                                        <mat-label>{{'upstream.dialog.timeouts' | translate}}</mat-label>
                                        <input aria-label="" formControlName="timeouts" matInput type="number"/>
                                        <mat-icon matSuffix matTooltip="{{'upstream.dialog.timeouts_tooltip' | translate}}"
                                                  matTooltipClass="tooltip-teal">info_outline
                                        </mat-icon>
                                        <mat-error *ngIf="timeoutsAUHField.invalid">
                                            {{ 'upstream.dialog.error.concurrency_min_max' | translate }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <p class="margin-top-20-i">{{'upstream.dialog.health_passive' | translate}}</p>
                        <div class="padding-left-20 form-block" formGroupName="passive">
                            <!--  PASIVE  -->
                            <div fxLayout="row" fxLayoutAlign="space-between start">
                                <mat-form-field appearance="outline" class="margin-bottom-10" color="accent" fxFlex="24">
                                    <mat-label>{{'upstream.dialog.type_healthcheck' | translate}}</mat-label>
                                    <mat-select formControlName="type">
                                        <mat-option *ngFor="let protos of validProtocols" value="{{protos}}">{{protos}}</mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix matTooltip="{{'upstream.dialog.type_healthcheck_tooltip' | translate}}"
                                              matTooltipClass="tooltip-teal">info_outline
                                    </mat-icon>
                                </mat-form-field>
                            </div>

                            <p class="margin-top-10-i">{{'upstream.dialog.health_passive_healthy' | translate}}</p>
                            <div class="padding-left-20 form-block" formGroupName="healthy" fxLayout="row" fxLayoutAlign="space-between start">
                                <!--  HEALTHY  -->
                                <mat-form-field appearance="outline" color="accent" fxFlex="65">
                                    <mat-label>{{'upstream.dialog.http_statuses' | translate}}</mat-label>
                                    <mat-select formControlName="http_statuses" multiple>
                                        <mat-option *ngFor="let stat of validHttpStatuses" [value]="stat">{{stat}}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="httpStatusesAHField.hasError('isArrayOfOneOf')">
                                        {{ 'upstream.dialog.error.http_statuses' | translate }}
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" color="accent" fxFlex="30">
                                    <mat-label>{{'upstream.dialog.successes' | translate}}</mat-label>
                                    <input aria-label="" formControlName="successes" matInput type="number"/>
                                    <mat-icon matSuffix matTooltip="{{'upstream.dialog.successes_tooltip' | translate}}"
                                              matTooltipClass="tooltip-teal">info_outline
                                    </mat-icon>
                                    <mat-error *ngIf="successesAHField.invalid">
                                        {{ 'upstream.dialog.error.concurrency_min_max' | translate }}
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <p class="margin-top-10-i">{{'upstream.dialog.health_passive_unhealthy' | translate}}</p>
                            <div class="padding-left-20 form-block" formGroupName="unhealthy" fxLayout="column">
                                <!--  UNHEALTHY  -->
                                <div fxLayout="row" fxLayoutAlign="space-between start">
                                    <mat-form-field appearance="outline" color="accent" fxFlex="100">
                                        <mat-label>{{'upstream.dialog.http_statuses_unhealthy' | translate}}</mat-label>
                                        <mat-select formControlName="http_statuses" multiple>
                                            <mat-option *ngFor="let stat of validHttpStatuses" [value]="stat">{{stat}}</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="httpStatusesAUHField.hasError('isArrayOfOneOf')">
                                            {{ 'upstream.dialog.error.http_statuses' | translate }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="space-between start">
                                    <mat-form-field appearance="outline" color="accent" fxFlex="30">
                                        <mat-label>{{'upstream.dialog.http_failures' | translate}}</mat-label>
                                        <input aria-label="" formControlName="http_failures" matInput type="number"/>
                                        <mat-icon matSuffix matTooltip="{{'upstream.dialog.http_failures_tooltip' | translate}}"
                                                  matTooltipClass="tooltip-teal">info_outline
                                        </mat-icon>
                                        <mat-error *ngIf="httpFailuresAUHField.invalid">
                                            {{ 'upstream.dialog.error.concurrency_min_max' | translate }}
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" color="accent" fxFlex="30">
                                        <mat-label>{{'upstream.dialog.tcp_failures' | translate}}</mat-label>
                                        <input aria-label="" formControlName="tcp_failures" matInput type="number"/>
                                        <mat-icon matSuffix matTooltip="{{'upstream.dialog.tcp_failures_tooltip' | translate}}"
                                                  matTooltipClass="tooltip-teal">info_outline
                                        </mat-icon>
                                        <mat-error *ngIf="tcpFailuresAUHField.invalid">
                                            {{ 'upstream.dialog.error.concurrency_min_max' | translate }}
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" color="accent" fxFlex="30">
                                        <mat-label>{{'upstream.dialog.timeouts' | translate}}</mat-label>
                                        <input aria-label="" formControlName="timeouts" matInput type="number"/>
                                        <mat-icon matSuffix matTooltip="{{'upstream.dialog.timeouts_tooltip' | translate}}"
                                                  matTooltipClass="tooltip-teal">info_outline
                                        </mat-icon>
                                        <mat-error *ngIf="timeoutsAUHField.invalid">
                                            {{ 'upstream.dialog.error.concurrency_min_max' | translate }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </form>
    </div>
</mat-dialog-content>

<mat-divider class="margin-bottom-10-i margin-top-10-i"></mat-divider>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between start">
    <div>
        <mat-error *ngIf="form.hasError('hashOnForm')">{{ 'upstream.dialog.error.hash_on_form' | translate }}</mat-error>
        <mat-error *ngIf="form.hasError('hashFallbackForm')">{{ 'upstream.dialog.error.hash_fallback_form' | translate }}</mat-error>
        <mat-error *ngIf="form.hasError('hashCookieForm')">{{ 'upstream.dialog.error.hash_cookie_form' | translate }}</mat-error>
    </div>

    <div>
        <button color="warn" mat-button mat-dialog-close="null">{{'text.cancel' | translate}}</button>
        <!-- Si a disabled le pasamos una función da error de ExpressionChangedAfterItHasBeenCheckedError -->
        <button (click)="onSubmit()" [disabled]="form.invalid" color="accent"
                mat-flat-button>
            <span *ngIf="!editMode">{{'text.create' | translate}}</span>
            <span *ngIf="editMode">{{'text.edit' | translate}}</span>
        </button>
    </div>
</mat-dialog-actions>

