<div fxLayout="column" fxLayoutAlign="start stretch">
    <h2 class="margin-bottom-5-i" fxFlex fxLayout="row" fxLayoutAlign="space-between start" mat-dialog-title>
        <span>{{'target.dialog.info' | translate}}</span>

        <span fxFlexAlign="end">
            <a href="https://docs.konghq.com/2.2.x/admin-api/#target-object" mat-button rel="noopener noreferrer" target="_blank">
                {{'text.documentation' | translate}}
                <mat-icon class="mini-icon">open_in_new</mat-icon>
            </a>
            <button (click)="downloadJson()" mat-icon-button
                    matTooltip="{{'dialog.download_json' | translate}}" matTooltipClass="tooltip-teal">
                <mat-icon>download</mat-icon>
            </button>
        </span>
    </h2>

    <mat-divider class="margin-bottom-20-i"></mat-divider>

    <div [fxShow]="loading" fxFlex fxLayoutAlign="center center">
        <p fxFlex="50">
            <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
        </p>
    </div>

    <div fxFlex>
        <mat-dialog-content *ngIf="target && !loading" class="margin-0-i">
            <div fxLayout="row">
                <div fxFlex="50">
                    <p class="title margin-0-i" matTooltip="{{'target.dialog.target_tooltip' | translate}}"
                       matTooltipClass="tooltip-teal">{{'target.dialog.target' | translate}}</p>
                    <p class="text margin-left-20-i">{{target['target']}}</p>
                </div>
                <div fxFlex="50">
                    <p class="title margin-0-i">{{'text.id' | translate}}</p>
                    <p class="text margin-left-20-i">{{target['id']}}</p>
                </div>

            </div>

            <div class="margin-top-10-i" fxLayout="row">
                <div fxFlex="25">
                    <p class="title margin-0-i" matTooltip="{{'target.dialog.weight_tooltip' | translate}}"
                       matTooltipClass="tooltip-teal">{{'target.dialog.weight' | translate}}</p>
                    <p class="text margin-left-20-i">{{target['weight'] }}</p>
                </div>
                <div fxFlex="25">
                    <p class="title margin-0-i">{{'text.created_at' | translate}}</p>
                    <p class="text margin-left-20-i">{{target['created_at'] * 1000 | date:'medium'}}</p>
                </div>
                <div fxFlex="50">
                    <p class="title margin-0-i">{{'upstream.label' | translate}}</p>
                    <p class="text margin-left-20-i">{{target?.upstream?.id }}</p>
                </div>
            </div>

            <p class="margin-top-10-i">{{'target.info_health' | translate}}</p>
            <div class="padding-left-20" fxLayout="row" fxLayoutAlign="start center">
                <div fxFlex="25">
                    <p class="text" matTooltip="{{target?.health}}"
                       matTooltipClass="tooltip-teal">
                        <span [className]="getColor(target?.health)">{{ 'target.health_' + target?.health | translate}}</span>
                    </p>
                </div>
                <div fxFlex="25">
                    <p>
                        <button (click)="setTargetHealthy()" mat-icon-button
                                matTooltip="{{'target.set_healthy' | translate}}" matTooltipClass="tooltip-teal">
                            <mat-icon class="color-healthy">power</mat-icon>
                        </button>
                        <button (click)="setTargetUnhealthy()" mat-icon-button
                                matTooltip="{{'target.set_unhealthy' | translate}}" matTooltipClass="tooltip-teal">
                            <mat-icon class="color-unhealthy">power_off</mat-icon>
                        </button>
                    </p>
                </div>
                <div fxFlex="40">
                    <mat-progress-bar [value]="getWeigth()" color="{{getColor(target?.health)}}" matTooltip="{{'target.addresses_percent' | translate}}"
                                      matTooltipClass="tooltip-teal"
                                      mode="determinate"></mat-progress-bar>
                </div>
            </div>
            <div class="padding-left-20">
                <p class="title margin-0-i">{{'address.label' | translate}}</p>
                <mat-list role="list">
                    <mat-list-item *ngFor="let add of target.data.addresses" role="listitem">
                        <div fxFlex fxLayout="row" fxLayoutAlign="start center">
                            <div fxFlex="25"><p class="text monospace">{{ add.ip + ':' + add.port}}</p></div>
                            <div fxFlex="25"><p class="text text-small">{{ 'target.dialog.weight' | translate }}: {{ add.weight }}</p></div>
                            <div fxFlex="25" matTooltip="{{target?.health}}" matTooltipClass="tooltip-teal"><p class="text text-small">
                                <span [className]="getColor(target?.health)">{{ 'target.health_' + add.health | translate}}</span>
                            </p></div>
                            <div fxFlex="25">
                                <p>
                                    <button (click)="setAddressHealthy(add.ip, add.port)" mat-icon-button
                                            matTooltip="{{'target.set_healthy' | translate}}" matTooltipClass="tooltip-teal">
                                        <mat-icon class="color-healthy">power</mat-icon>
                                    </button>
                                    <button (click)="setAddressUnhealthy(add.ip, add.port)" mat-icon-button
                                            matTooltip="{{'target.set_unhealthy' | translate}}" matTooltipClass="tooltip-teal">
                                        <mat-icon class="color-unhealthy">power_off</mat-icon>
                                    </button>
                                </p>
                            </div>
                        </div>
                    </mat-list-item>
                </mat-list>
            </div>
        </mat-dialog-content>
    </div>

    <mat-divider *ngIf="!loading" class="margin-bottom-10-i margin-top-10-i"></mat-divider>

    <mat-dialog-actions *ngIf="!loading" fxFlex fxLayout="row" fxLayoutAlign="space-between">
        <mat-chip-list *ngIf="target" matTooltip="{{'text.tags' | translate}}" matTooltipClass="tooltip-teal">
            <mat-chip *ngFor="let chip of target['tags']" color="primary">{{chip}}</mat-chip>
        </mat-chip-list>
        <div><!-- leave empty --></div>
        <button cdkFocusInitial color="accent" mat-dialog-close="null" mat-flat-button>{{'text.accept' | translate}}</button>
    </mat-dialog-actions>
</div>
