@import '~@angular/material/theming';

.title {
    margin-right: 5px;
    color: mat-color($mat-blue-gray, 300);
}

p.text {
    font-weight: lighter;
}

span.accent {
    color: #6fb41a;
}

span.warn {
    color: #E53935;
}
