<mat-progress-bar [fxShow]="loading" color="accent" mode="indeterminate"></mat-progress-bar>
<div [fxShow]="!loading" class="progress-placeholder"></div>

<div #top class="padding-top-20 margin-bottom-10" fxLayout="row" fxLayoutAlign="center center">
    <h2 class="margin-0-i" fxFlex="90">{{ 'consumer.header' | translate}}</h2>
</div>

<div fxLayout="row" fxLayoutAlign="center start" class="margin-bottom-20-i">
    <div fxFlex="90" fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="start center">

            <mat-form-field appearance="outline" color="accent" fxFlex="80" class="margin-bottom-10">
                <button (click)="changeSearchAnd()" class="small-btn-icon" mat-icon-button matPrefix>
                    <span *ngIf="searchAnd">AND</span>
                    <span *ngIf="!searchAnd">OR</span>
                </button>
                <mat-label>{{'element.search_tags' | translate}}</mat-label>
                <mat-chip-grid #chipList aria-label="">
                    <mat-chip-row (removed)="removeTag(tag)"
                                  *ngFor="let tag of currentTags" removable="true">{{tag}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip-row>
                </mat-chip-grid>
                <input (matChipInputTokenEnd)="addTag($event)"
                       [matAutocomplete]="auto"
                       [matChipInputFor]="chipList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [formControl]="tagCtrl"
                       matChipInputAddOnBlur="true"
                       placeholder="{{'element.search_tags_placeholder' | translate}}"/>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedTag($event)">
                    <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                        {{tag}}
                    </mat-option>
                </mat-autocomplete>
                <mat-hint class="grey-hint">{{'service.dialog.tags_hint' | translate}}
                    . {{'element.current_search' | translate}}
                    : {{(currentSearch !== '') ? currentSearch : ''}}</mat-hint>
            </mat-form-field>

            <div fxFlex="20" fxLayoutAlign="end center">
                <button (click)="newSearch()" color="accent" mat-flat-button
                        matTooltip="{{'element.new_search_tooltip' | translate}}"
                        matTooltipClass="tooltip-teal">
                    <mat-icon iconPositionEnd>search</mat-icon>
                    {{ 'element.new_search' | translate }}
                </button>
            </div>
        </div>


        <table [dataSource]="dataSource" fxFlex mat-table matSort matSortActive="username"
               matSortDirection="asc" matSortDisableClear>

            <ng-container matColumnDef="new-element">
                <th *matHeaderCellDef mat-header-cell>
                    <button (click)="addEditConsumer()" color="accent" mat-stroked-button>
                        <mat-icon iconPositionEnd>add</mat-icon>
                        {{ 'consumer.add' | translate }}
                    </button>
                </th>
            </ng-container>

            <ng-container matColumnDef="filter-table">
                <th *matHeaderCellDef mat-header-cell colspan="3" class="padding-top-10-i">
                    <mat-form-field color="primary" appearance="fill" class="width-100">
                        <mat-label>{{ 'element.filter_table' | translate }}</mat-label>
                        <input (keyup)="applyFilter()" [(ngModel)]="filter"
                               matInput placeholder="{{'element.text_search' | translate}}">
                        <button (click)="filter=''; applyFilter()" *ngIf="filter" mat-icon-button matSuffix
                                color="primary">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </th>
            </ng-container>

            <ng-container matColumnDef="table-actions">
                <th *matHeaderCellDef mat-header-cell class="text-align-right-i noellipsis">
                    <button class="margin-left-20" (click)="loadData()" color="accent" mat-stroked-button
                            [disabled]="(nextData === null) || loading"
                            matTooltip="{{'element.load_1000_tooltip' | translate}}"
                            matTooltipClass="tooltip-teal">
                        {{ 'element.load_1000' | translate }}
                    </button>
                    <button class="margin-left-20" (click)="loadData(false, true)" color="accent" mat-stroked-button
                            [disabled]="(nextData === null) || loading"
                            matTooltip="{{'element.load_all_tooltip' | translate}}"
                            matTooltipClass="tooltip-teal">
                        {{ 'element.load_all' | translate }}
                    </button>
                </th>
            </ng-container>

            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'text.id' | translate}}</th>
                <td *matCellDef="let row" class="text-small" mat-cell>{{row.id}}</td>
            </ng-container>

            <ng-container matColumnDef="username">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'consumer.dialog.username' | translate}}</th>
                <td *matCellDef="let row" mat-cell
                matTooltip="ID: {{row.id}}" matTooltipClass="tooltip-teal">{{row.username}}</td>
            </ng-container>

            <ng-container matColumnDef="custom_id">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'consumer.dialog.custom_id' | translate}}</th>
                <td *matCellDef="let row" mat-cell>{{row.custom_id}}</td>
            </ng-container>

            <ng-container matColumnDef="tags">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'service.dialog.tags' | translate}}</th>
                <td *matCellDef="let row" mat-cell>{{(row.tags || []).join(', ')}}</td>
            </ng-container>

            <ng-container matColumnDef="credentials">
                <th *matHeaderCellDef mat-header-cell>{{'element.credentials' | translate}}</th>
                <td *matCellDef="let row" mat-cell>
                    <button (click)="infoBasicAuth(row)"
                            [disabled]="!(isPluginActive('basic-auth'))" mat-icon-button
                            matTooltip="{{'basicauth.dialog.info' | translate}}"
                            matTooltipClass="tooltip-teal">
                        <mat-icon>face</mat-icon>
                    </button>
                    <button (click)="infoApiKeys(row)"
                            [disabled]="!(isPluginActive('key-auth') || isPluginActive('key-auth-enc'))" mat-icon-button
                            matTooltip="{{'apikey.dialog.info' | translate}}"
                            matTooltipClass="tooltip-teal">
                        <mat-icon>vpn_key</mat-icon>
                    </button>
                    <button (click)="infoJwtTokens(row)" [disabled]="!isPluginActive('jwt')" mat-icon-button
                            matTooltip="{{'jwt.dialog.info' | translate}}"
                            matTooltipClass="tooltip-teal">
                        <mat-icon>confirmation_number</mat-icon>
                    </button>
                    <button (click)="infoOAuthApps(row)" [disabled]="!isPluginActive('oauth2')" mat-icon-button
                            matTooltip="{{'oauth2.dialog.info' | translate}}"
                            matTooltipClass="tooltip-teal">
                        <mat-icon>motion_photos_auto</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th *matHeaderCellDef mat-header-cell>{{'element.actions' | translate}}</th>
                <td *matCellDef="let row" mat-cell>
                    <button (click)="infoAcls(row)" [disabled]="!isPluginActive('acl')" mat-icon-button
                            matTooltip="{{'acl.dialog.info' | translate}}"
                            matTooltipClass="tooltip-teal">
                        <mat-icon>people</mat-icon>
                    </button>
                    <button (click)="addEditConsumer(row)" color="accent" mat-icon-button
                            matTooltip="{{'text.edit' | translate}}"
                            matTooltipClass="tooltip-teal">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button (click)="delete(row)" color="warn" mat-icon-button
                            matTooltip="{{'text.delete' | translate}}"
                            matTooltipClass="tooltip-teal">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['new-element', 'filter-table', 'table-actions']">
            </tr>
            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>

            <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

            <!-- Row shown when there is no matching data. -->
            <tr *matNoDataRow class="mat-row">
                <td *ngIf="input === ''" class="mat-cell" colspan="5">{{'element.no_data' | translate}}</td>
                <td *ngIf="input !== ''" class="mat-cell" colspan="5">{{'element.no_data_search' | translate}}
                    "{{input}}"
                </td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 25, 100, 250]" showFirstLastButtons
                       [ngClass]="{'mat-paginator-sticky': getPaginatorLength() >= 100 }"
                       color="accent"></mat-paginator>

        <div class="margin-top-10" fxLayout="row" fxLayoutAlign="end center">
            <p>{{ "element.explanation" | translate}}</p>
        </div>
    </div>
</div>

<button class="go-to-top" color="primary" (click)="scrollTo(top)" mat-icon-button><mat-icon>vertical_align_top</mat-icon></button>
