<div fxLayout="column" fxLayoutAlign="start stretch">
    <h2 class="margin-bottom-5-i" mat-dialog-title fxLayout="row" fxLayoutAlign="space-between start" fxFlex>
        <span>{{'plugin.dialog.info' | translate}}: {{plugin['name']}}</span>

        <span fxFlexAlign="end">
            <a mat-button [href]="'https://docs.konghq.com/hub/kong-inc/' + plugin['name']" target="_blank">
                {{'text.documentation' | translate}}
                <mat-icon class="mini-icon">open_in_new</mat-icon>
            </a>
        </span>
    </h2>

    <mat-divider class="margin-bottom-20-i"></mat-divider>

    <div fxFlex>
        <mat-dialog-content class="margin-0-i">
            <div fxLayout="row">
                <div fxFlex="100">
                    <ngx-json-viewer *ngIf="!isEmpty()" [json]="plugin['config']"></ngx-json-viewer>

                    <p *ngIf="isEmpty()">{{ "{ }" }}</p>
                </div>
            </div>
        </mat-dialog-content>
    </div>

    <mat-divider class="margin-bottom-10-i margin-top-10-i"></mat-divider>

    <mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between" fxFlex>
        <div><!-- leave empty --></div>
        <button mat-flat-button mat-dialog-close="null" color="accent" cdkFocusInitial>{{'text.accept' | translate}}</button>
    </mat-dialog-actions>
</div>
