<mat-progress-bar [fxShow]="loading" color="accent" mode="indeterminate"></mat-progress-bar>
<div [fxShow]="!loading" class="progress-placeholder"></div>

<div class="padding-top-20" fxLayout="row" fxLayoutAlign="center center">
    <h2 class="margin-0-i" fxFlex="90">{{ 'acl.header' | translate}}</h2>
</div>

<div fxLayout="row" fxLayoutAlign="center start">
    <div fxFlex="90" fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="start end">
            <mat-form-field color="accent" fxFlex>
                <mat-label>{{ 'text.search' | translate }}</mat-label>
                <input #input (keyup)="applyFilter()" [(ngModel)]="filter"
                       matInput placeholder="{{'element.text_search' | translate}}">
                <button (click)="filter=''; applyFilter()" *ngIf="filter" mat-button mat-icon-button matSuffix>
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <button (click)="reloadData()" color="accent" mat-icon-button matTooltip="{{'element.reload' | translate}}"
                    matTooltipClass="tooltip-teal">
                <mat-icon>refresh</mat-icon>
            </button>
        </div>

        <table [dataSource]="dataSource" fxFlex mat-table matSort matSortActive="group" matSortDirection="asc" matSortDisableClear>
            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'text.id' | translate}}</th>
                <td *matCellDef="let row" class="text-small" mat-cell>{{row.id}}</td>
            </ng-container>

            <ng-container matColumnDef="group">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'acl.dialog.group' | translate}}</th>
                <td *matCellDef="let row" class="text-small" mat-cell>{{row.group}}</td>
            </ng-container>

            <ng-container matColumnDef="consumer">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'consumer.label' | translate}}</th>
                <td *matCellDef="let row" class="text-small" mat-cell matTooltip="{{row.consumer.id}}"
                    matTooltipClass="tooltip-teal">{{consumers[row.consumer.id]}}</td>
            </ng-container>

            <ng-container matColumnDef="created_at">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'text.created_at' | translate}}</th>
                <td *matCellDef="let row" class="small-font" mat-cell>{{ (row.created_at * 1000) | date:'medium'}}</td>
            </ng-container>

            <ng-container matColumnDef="tags">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'service.dialog.tags' | translate}}</th>
                <td *matCellDef="let row" mat-cell>{{(row.tags || []).join(', ')}}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th *matHeaderCellDef mat-header-cell>{{'element.actions' | translate}}</th>
                <td *matCellDef="let row" mat-cell>
                    <button (click)="delete(row)" color="warn" mat-icon-button matTooltip="{{'text.delete' | translate}}"
                            matTooltipClass="tooltip-teal">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

            <!-- Row shown when there is no matching data. -->
            <tr *matNoDataRow class="mat-row">
                <td *ngIf="input.value === ''" class="mat-cell" colspan="6">{{'element.no_data' | translate}}</td>
                <td *ngIf="input.value !== ''" class="mat-cell" colspan="6">{{'element.no_data_search' | translate}} "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 25, 100]" color="accent"></mat-paginator>

        <div class="margin-top-10" fxLayout="row" fxLayoutAlign="end center"><p>{{ "acl.explanation" | translate}}</p></div>
    </div>
</div>
