// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

@use 'assets/scss/fonts';
@use 'assets/scss/overrides';
@use 'assets/scss/colors';
@use 'assets/scss/common';

$theme: mat.define-theme((
    color: (
        theme-type: dark,
        primary: mat.$cyan-palette,
    )
));

html {
    height: 100%;
    color-scheme: dark;
    @include mat.theme((
        color: mat.$cyan-palette,
        typography: Roboto
    ), $overrides: (
        surface: #424242,
        surface-variant: #616161,
        surface-container: #333,
        corner-full: 15px,
        corner-extra-large: 20px
    ));

    //@include mat.all-component-themes($theme);
    @include mat.color-variants-backwards-compatibility($theme);
    @include mat.typography-hierarchy($theme, $back-compat: true);
}

body {
    background: var(--mat-sys-surface-bright);
    color: var(--mat-sys-on-surface);
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    //overflow-x: hidden;
    overflow: hidden;
}

app-root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

app-root > *:nth-child(3) {
    /*display: flex;
    flex-direction: column;
    flex-grow: 1;*/
    height: 83vh;
    overflow: auto;
}

#header-container {
    height: 10vh;
}

#body-container {

}

#footer-container {
    height: 7vh;
}

.flex-row-parent {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
}

footer {
    padding: 5px 20px;
    background: #292929;
}

// Scrollbars de Chrome
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
    background: #181818;
}

::-webkit-scrollbar-thumb {
    background: #009688;
}

.mat-grid-tile.custom .mat-grid-tile-content {
    justify-content: start !important;
}

.mat-ink-bar {
    height: 4px !important;
}

.h2-font {
    font-size: 1.3rem !important;
}

.w-55vw {
    width: 55vw;
}

