// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$king-primary: mat-palette($mat-blue-gray, 900);
$king-accent: mat-palette($mat-teal);

// The warn palette is optional (defaults to red).
$king-warn: mat-palette($mat-red, 700);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$king-theme: mat-dark-theme((
    color: (
        primary: $king-primary,
        accent: $king-accent,
        warn: $king-warn
    )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($king-theme);

/* You can add global styles to this file, and also import other style files */

@import 'assets/scss/fonts';
@import 'assets/scss/overrides';


html, body {
    height: 100%;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

app-root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

app-root > *:nth-child(2) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#appDiv > *:nth-child(2) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.flex-row-parent {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
}

footer {
    text-align: center;
}
