<h2 class="margin-bottom-5-i" fxLayout="row" fxLayoutAlign="space-between start" mat-dialog-title>
    <span>{{'target.dialog.create' | translate:{up: upstreamId} }}</span>
    <span><a href="https://docs.konghq.com/gateway/latest/admin-api/#add-target" mat-button rel="noopener noreferrer" target="_blank">
    {{'text.documentation' | translate}}
        <mat-icon class="mini-icon">open_in_new</mat-icon></a></span>
</h2>

<mat-divider class="margin-bottom-20-i"></mat-divider>

<mat-dialog-content class="mat-typography" fxLayout="row" fxLayoutAlign="center start">
    <div fxFlex="90">
        <form [formGroup]="form">
            <div class="margin-bottom-10" fxLayout="column">
                <div class="margin-bottom-10" fxLayout="row" fxLayoutAlign="space-between start">
                    <mat-form-field appearance="outline" color="accent" fxFlex="55">
                        <mat-label>{{'target.dialog.target' | translate}}</mat-label>
                        <input aria-label="" cdkFocusInitial formControlName="target" matInput placeholder="{{ 'target.dialog.target_example' | translate}}"
                               required
                               type="text"/>
                        <mat-hint>{{ 'target.dialog.target_hint' | translate }}</mat-hint>
                        <mat-icon matSuffix matTooltip="{{'target.dialog.target_tooltip' | translate}}"
                                  matTooltipClass="tooltip-teal">info_outline
                        </mat-icon>
                        <mat-error *ngIf="targetField.invalid">
                            {{ 'target.dialog.error.target_format' | translate }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" color="accent" fxFlex="20">
                        <mat-label>{{'service.dialog.port' | translate}}</mat-label>
                        <input aria-label="" formControlName="port" matInput placeholder="{{'service.dialog.port_example' | translate}}" required
                               type="number"/>
                        <mat-error *ngIf="portField.invalid">
                            {{ 'service.dialog.error.port_min_max' | translate }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" color="accent" fxFlex="20">
                        <mat-label>{{'target.dialog.weight' | translate}}</mat-label>
                        <input aria-label="" formControlName="weight" matInput type="number"/>
                        <mat-icon matSuffix matTooltip="{{'target.dialog.weight_tooltip' | translate}}"
                                  matTooltipClass="tooltip-teal">info_outline
                        </mat-icon>
                        <mat-error *ngIf="weightField.invalid">
                            {{ 'target.dialog.error.weight_min_max' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="margin-bottom-10" fxLayout="row" fxLayoutAlign="space-between start">
                    <mat-form-field appearance="outline" color="accent" fxFlex="100">
                        <mat-chip-grid #chipList aria-label="">
                            <mat-chip-row (removed)="removeTag(tag)"
                                      *ngFor="let tag of currentTags" removable="true">{{tag}}
                                <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip-row>
                            <input (matChipInputTokenEnd)="addTag($event)"
                                   [matAutocomplete]="auto"
                                   [matChipInputFor]="chipList"
                                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                   formControlName="tags"
                                   matChipInputAddOnBlur="true"
                                   placeholder="{{'service.dialog.tags' | translate}}">
                        </mat-chip-grid>
                        <mat-hint>{{'service.dialog.tags_hint' | translate}}</mat-hint>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedTag($event)">
                            <mat-option *ngFor="let tag of allTags" [value]="tag">
                                {{tag}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
</mat-dialog-content>

<mat-divider class="margin-bottom-10-i margin-top-10-i"></mat-divider>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between start">
    <div></div>
    <div>
        <button color="warn" mat-button mat-dialog-close="null">{{'text.cancel' | translate}}</button>
        <!-- Si a disabled le pasamos una función da error de ExpressionChangedAfterItHasBeenCheckedError -->
        <button (click)="onSubmit()" [disabled]="form.invalid" color="accent"
                mat-flat-button>
            <span>{{'text.create' | translate}}</span>
        </button>
    </div>
</mat-dialog-actions>

