table {
    width: 100%;
}

.mat-column-name {
    width: 15%;
}

.mat-column-client_id {
    width: 20%;
}

.mat-column-client_secret {
    width: 25%;
}

.mat-column-redirect_uris {
    width: 25%;
}

.mat-column-actions {
    width: 10%;
}
