<h2 class="margin-bottom-5-i" mat-dialog-title>
    <span *ngIf="!editMode">{{'route.dialog.create' | translate}}</span>
    <span *ngIf="editMode">{{'route.dialog.edit' | translate}}</span>
    <span class="btn-doc-right"><a href="https://docs.konghq.com/gateway/api/admin-oss/latest/#/Routes/create-routehttps://docs.konghq.com/gateway/api/admin-oss/latest/#/Routes/create-route" mat-button
                                   rel="noopener noreferrer"
                                   target="_blank">
    {{'text.documentation' | translate}}
        <mat-icon class="mini-icon" iconPositionEnd>open_in_new</mat-icon></a></span>
</h2>

<mat-divider class="margin-bottom-20-i"></mat-divider>

<mat-dialog-content class="mat-typography" fxLayout="row" fxLayoutAlign="center start">
    <div fxFlex="90">
        <form [formGroup]="formE">
            <div class="margin-bottom-10" fxLayout="row" fxLayoutAlign="center center" *ngIf="!editMode">
                <!-- Dropdown for Route names -->
                <mat-form-field appearance="fill" class="margin-bottom-10" color="accent" fxFlex="80">
                    <mat-label>{{'text.templates' | translate}}</mat-label>
                    <input matInput [formControl]="searchControl" [matAutocomplete]="auto" />
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onRouteChange($event)" [displayWith]="displayFn">
                        <mat-option *ngFor="let route of filteredRoutes" [value]="route.id">
                          {{ route.name }}
                        </mat-option>
                    </mat-autocomplete> 
                    <mat-hint>{{'text.templates_hint' | translate}}</mat-hint>
                </mat-form-field>
            </div>

            <mat-divider class="margin-bottom-20-i" *ngIf="!editMode"></mat-divider>

            <!--Nombre-->
            <div class="margin-bottom-10" fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="space-between start">

                    <!--NAME-->
                    <mat-form-field appearance="outline" class="margin-bottom-10" color="accent" fxFlex="50">
                        <mat-label>{{'route.dialog.name' | translate}}</mat-label>
                        <input aria-label="" cdkFocusInitial formControlName="name" matInput
                               placeholder="{{'route.dialog.name_example' | translate}}"
                               required type="text"/>
                        <mat-error *ngIf="nameField.hasError('required')">
                            {{ 'error.field_required' | translate }}
                        </mat-error>
                        <mat-error *ngIf="nameField.hasError('pattern')">
                            {{ 'route.dialog.error.name_pattern' | translate }}
                        </mat-error>
                    </mat-form-field>

                    <!--TAGS-->
                    <mat-form-field appearance="outline" color="accent" fxFlex="45">
                        <mat-chip-grid #chipList aria-label="">
                            <mat-chip-row (removed)="removeTag(tag)"
                                          *ngFor="let tag of currentTags" removable="true">{{tag}}
                                <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip-row>
                            <input (matChipInputTokenEnd)="addTag($event)"
                                   [matAutocomplete]="auto"
                                   [matChipInputFor]="chipList"
                                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                   formControlName="tags"
                                   matChipInputAddOnBlur="true"
                                   placeholder="{{'service.dialog.tags' | translate}}">
                        </mat-chip-grid>
                        <mat-hint>{{'service.dialog.tags_hint' | translate}}</mat-hint>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedTag($event)">
                            <mat-option *ngFor="let tag of allTags" [value]="tag">
                                {{tag}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>

                <div class="margin-bottom-10 margin-top-10" fxLayout="row" fxLayoutAlign="space-between start">
                    <!--Servicio-->
                    <mat-form-field appearance="outline" color="accent" fxFlex="50">
                        <mat-label>{{'service.label' | translate}}</mat-label>
                        <mat-select formControlName="service" required>
                            <mat-option *ngFor="let serv of servicesAvailable" value="{{serv.id}}">
                                {{serv.name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="serviceField.invalid">
                            {{ 'error.field_required' | translate }}
                        </mat-error>
                    </mat-form-field>

                    <!--Protocols-->
                    <mat-form-field appearance="outline" color="accent" fxFlex="45">
                        <mat-label>{{'route.dialog.protocols' | translate}}</mat-label>
                        <mat-select formControlName="protocols" multiple required>
                            <mat-option *ngFor="let proto of validProtocols" [value]="proto">{{proto}}</mat-option>
                        </mat-select>
                        <mat-icon matSuffix matTooltip="{{'route.dialog.protocols_tooltip' | translate}}"
                                  matTooltipClass="tooltip-teal tooltip-multi">info_outline
                        </mat-icon>
                        <mat-error *ngIf="protocolsField.hasError('required')">
                            {{ 'error.field_required' | translate }}
                        </mat-error>
                        <mat-error *ngIf="protocolsField.hasError('isProtocolListValidForRoute')">
                            {{ 'route.dialog.error.protocols_exclusions' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>


                <div fxLayout="row" class="margin-top-20-i" fxLayoutAlign="space-between center">
                    <mat-form-field color="accent" fxFlex="15">
                        <mat-select #etransform placeholder="{{ 'route.dialog.transform' | translate}}">
                            <mat-option [value]=""></mat-option>
                            <mat-option *ngFor="let proto of validETransformsStrings" [fxShow]="eType==='string'"
                                        [value]="proto">{{'route.dialog.transform_' + proto | translate}}</mat-option>
                            <mat-option *ngFor="let proto of validETransforms" [fxShow]="eType==='int'"
                                        [value]="proto">{{'route.dialog.transform_' + proto | translate}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field color="accent" fxFlex="15">
                        <mat-select #efield (selectionChange)="changeEField(efield.value)"
                                    placeholder="{{ 'route.dialog.field' | translate}}">
                            <mat-option *ngFor="let proto of validEFields"
                                        [value]="proto">{{ 'route.dialog.field_' + proto | translate}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field color="accent" fxFlex="10">
                        <mat-select #eop placeholder="{{ 'route.dialog.operator' | translate}}">
                            <mat-option *ngFor="let proto of validEOpsStrings" [fxShow]="eType==='string'"
                                        [value]="proto">{{proto}}</mat-option>
                            <mat-option *ngFor="let proto of validEOpsIntegers" [fxShow]="eType==='int'"
                                        [value]="proto">{{proto}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field color="accent" fxFlex="25">
                        <input #evalue aria-label="" matInput placeholder="{{ 'route.dialog.value' | translate}}"
                               type="text"/>
                    </mat-form-field>
                    <button (click)="btnExp(etransform.value,efield.value,eop.value,evalue.value)" color="accent"
                            mat-icon-button>
                        <mat-icon>add</mat-icon>
                    </button>
                    <button (click)="btnAppend('(')" aria-label="" color="accent" mat-button>(</button>
                    <button (click)="btnAppend(')')" aria-label="" color="accent" mat-button>)</button>
                    <button (click)="btnAppend(' && ')" aria-label="" color="accent" mat-button>AND
                    </button>
                    <button (click)="btnAppend(' || ')" aria-label="" color="accent" mat-button>OR
                    </button>
                    <mat-icon matSuffix matTooltip="{{'route.dialog.expression_tooltip' | translate}}"
                              matTooltipClass="tooltip-teal tooltip-multi">info_outline
                    </mat-icon>
                </div>
                <div class="margin-bottom-10" fxLayout="row" fxLayoutAlign="space-between start">
                    <!--Expresión-->
                    <mat-form-field appearance="outline" color="accent" fxFlex="100">
                        <mat-label>{{'route.dialog.expression' | translate}}</mat-label>
                        <input aria-label="" formControlName="expression" matInput required type="text"/>
                        <mat-error *ngIf="expressionField.invalid">
                            {{ 'error.field_required' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>


                <div class="margin-bottom-10" fxLayout="row" fxLayoutAlign="space-between start">
                    <!--Priority-->
                    <mat-form-field appearance="outline" color="accent" fxFlex="25">
                        <mat-label>{{'route.dialog.priority' | translate}}</mat-label>
                        <input aria-label="" formControlName="priority" matInput required type="number"/>
                        <mat-error *ngIf="priorityField.hasError('required')">
                            {{ 'error.field_required' | translate }}
                        </mat-error>
                        <mat-error *ngIf="priorityField.invalid">
                            {{ 'route.dialog.error.regex_min_max' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>

            </div>


            <!-- ADVANCED -->
            <mat-accordion displayMode="flat" hideToggle multi>
                <mat-expansion-panel #matExp disabled>
                    <mat-expansion-panel-header class="margin-bottom-20-i">
                        <mat-panel-description fxLayout="row" fxLayoutAlign="center start">
                            <button (click)="matExp.toggle(); $event.stopPropagation();" color="accent" fxFlex="50"
                                    mat-stroked-button>
                                <mat-icon [fxShow]="matExp._getExpandedState()==='collapsed'">expand_more</mat-icon>
                                <mat-icon [fxShow]="matExp._getExpandedState()==='expanded'">expand_less</mat-icon>
                                {{'text.advanced_fields' | translate}}
                                <mat-icon [fxShow]="matExp._getExpandedState()==='collapsed'" iconPositionEnd>
                                    expand_more
                                </mat-icon>
                                <mat-icon [fxShow]="matExp._getExpandedState()==='expanded'" iconPositionEnd
                                          class="marleft">expand_less
                                </mat-icon>
                            </button>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div fxLayout="row" fxLayoutAlign="space-between start">
                        <!--Redirect-->
                        <mat-form-field appearance="outline" color="accent" fxFlex="30">
                            <mat-label>{{'route.dialog.redirect' | translate}}</mat-label>
                            <mat-select formControlName="https_redirect_status_code" required>
                                <mat-option *ngFor="let redirect of validRedirectCodes"
                                            [value]="redirect">{{redirect}}</mat-option>
                            </mat-select>
                            <mat-icon matSuffix matTooltip="{{'route.dialog.redirect_tooltip' | translate}}"
                                      matTooltipClass="tooltip-teal">info_outline
                            </mat-icon>
                        </mat-form-field>
                    </div>

                    <div class="margin-top-10 margin-bottom-20-i" fxLayout="row" fxLayoutAlign="space-between start">
                        <!--    Strip path-->
                        <div class="margin-bottom-10" fxFlex="23" fxLayout="row" fxLayoutAlign="start center">
                            <mat-checkbox
                                formControlName="strip_path">{{'route.dialog.strip_path' | translate}}</mat-checkbox>
                            <mat-icon class="margin-left-10" matSuffix
                                      matTooltip="{{'route.dialog.strip_path_tooltip' | translate}}"
                                      matTooltipClass="tooltip-teal">info_outline
                            </mat-icon>
                        </div>

                        <!-- Preserve host-->
                        <div class="margin-bottom-10" fxFlex="23" fxLayout="row" fxLayoutAlign="start center">
                            <mat-checkbox
                                formControlName="preserve_host">{{'route.dialog.preserve_host' | translate}}</mat-checkbox>
                            <mat-icon class="margin-left-10" matSuffix
                                      matTooltip="{{'route.dialog.preserve_host_tooltip' | translate}}"
                                      matTooltipClass="tooltip-teal">info_outline
                            </mat-icon>
                        </div>

                        <!-- request_buffering-->
                        <div class="margin-bottom-10" fxFlex="23" fxLayout="row" fxLayoutAlign="start center">
                            <mat-checkbox
                                formControlName="request_buffering">{{'route.dialog.request_buffering' | translate}}</mat-checkbox>
                        </div>

                        <!-- response_buffering-->
                        <div class="margin-bottom-10" fxFlex="23" fxLayout="row" fxLayoutAlign="start center">
                            <mat-checkbox
                                formControlName="response_buffering">{{'route.dialog.response_buffering' | translate}}</mat-checkbox>
                        </div>
                    </div>

                </mat-expansion-panel>
            </mat-accordion>
        </form>
    </div>
</mat-dialog-content>

<mat-divider class="margin-bottom-10-i margin-top-10-i"></mat-divider>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between start">
    <div>
        <mat-error *ngIf="formE.hasError('finalValidation')">
            {{ 'route.dialog.error.final_validation' | translate }}
        </mat-error>
    </div>

    <div>
        <button color="warn" mat-button mat-dialog-close="null">{{'text.cancel' | translate}}</button>
        <!-- Si a disabled le pasamos una función da error de ExpressionChangedAfterItHasBeenCheckedError -->
        <button (click)="onSubmit()" [disabled]="formE.invalid"
                color="accent" mat-flat-button>
            <span *ngIf="!editMode">{{'text.create' | translate}}</span>
            <span *ngIf="editMode">{{'text.edit' | translate}}</span>
        </button>
    </div>
</mat-dialog-actions>

