<h2 mat-dialog-title fxLayout="row" fxLayoutAlign="space-between start" class="margin-bottom-5-i">
    <span *ngIf="!editMode">{{'route.dialog.create' | translate}}</span>
    <span *ngIf="editMode">{{'route.dialog.edit' | translate}}</span>
    <span><a mat-button href="https://docs.konghq.com/2.2.x/admin-api/#add-route" target="_blank">
    {{'text.documentation' | translate}}
        <mat-icon class="mini-icon">open_in_new</mat-icon></a></span>
</h2>

<mat-divider class="margin-bottom-20-i"></mat-divider>

<mat-dialog-content class="mat-typography" fxLayout="row" fxLayoutAlign="center start">
    <div fxFlex="90">
        <form [formGroup]="form">
            <!--Nombre-->
            <div fxLayout="column" class="margin-bottom-10">
                <div fxLayout="row" fxLayoutAlign="space-between start">
                    <mat-form-field fxFlex="50" color="accent" class="margin-bottom-10" appearance="outline">
                        <mat-label>{{'route.dialog.name' | translate}}</mat-label>
                        <input type="text" aria-label="" matInput required formControlName="name"
                               cdkFocusInitial placeholder="{{'route.dialog.name_example' | translate}}"/>
                        <mat-error *ngIf="nameField.hasError('required')">
                            {{ 'error.field_required' | translate }}
                        </mat-error>
                        <mat-error *ngIf="nameField.hasError('pattern')">
                            {{ 'route.dialog.error.name_pattern' | translate }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="45" color="accent" appearance="outline">
                        <mat-chip-list #chipList aria-label="">
                            <mat-chip *ngFor="let tag of tags"
                                      removable="true" (removed)="removeTag(tag)">{{tag}}
                                <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>
                            <input placeholder="{{'route.dialog.tags' | translate}}"
                                   formControlName="tags"
                                   [matChipInputFor]="chipList"
                                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                   matChipInputAddOnBlur="true"
                                   (matChipInputTokenEnd)="addTag($event)">
                        </mat-chip-list>
                        <mat-hint>{{'route.dialog.tags_hint' | translate}}</mat-hint>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="space-between start" class="margin-bottom-10">
                    <!--Servicio-->
                    <mat-form-field fxFlex="50" color="accent" appearance="outline">
                        <mat-label>{{'service.label' | translate}}</mat-label>
                        <mat-select formControlName="service" required>
                            <mat-option *ngFor="let serv of servicesAvailable" value="{{serv.id}}">
                                {{serv.name}} -> <span class="text-small">{{serv.id}}</span></mat-option>
                        </mat-select>
                        <mat-error *ngIf="serviceField.invalid">
                            {{ 'error.field_required' | translate }}
                        </mat-error>
                    </mat-form-field>

                    <!--Protocols-->
                    <mat-form-field fxFlex="45" color="accent" appearance="outline">
                        <mat-label>{{'route.dialog.protocols' | translate}}</mat-label>
                        <mat-select formControlName="protocols" multiple required>
                            <mat-option *ngFor="let proto of validProtocols" [value]="proto">{{proto}}</mat-option>
                        </mat-select>
                        <mat-icon matSuffix matTooltip="{{'route.dialog.protocols_tooltip' | translate}}"
                                  matTooltipClass="tooltip-teal tooltip-multi">info_outline
                        </mat-icon>
                        <mat-error *ngIf="protocolsField.hasError('required')">
                            {{ 'error.field_required' | translate }}
                        </mat-error>
                        <mat-error *ngIf="protocolsField.hasError('isProtocolListValidForRoute')">
                            {{ 'route.dialog.error.protocols_exclusions' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="space-between start" class="margin-bottom-10">
                    <!--Hosts-->
                    <!--TODO-->
                    <mat-form-field fxFlex="50" color="accent" appearance="outline">
                        <mat-label>{{'route.dialog.hosts' | translate}}</mat-label>
                        <input type="text" aria-label="" matInput formControlName="hosts" required
                               placeholder="{{'route.dialog.hosts_example' | translate}}"/>
                        <mat-icon matSuffix matTooltip="{{'route.dialog.hosts_tooltip' | translate}}"
                                  matTooltipClass="tooltip-teal">info_outline
                        </mat-icon>
                        <mat-error *ngIf="hostsField.hasError('required')">
                            {{ 'error.field_required' | translate }}
                        </mat-error>
                    </mat-form-field>

                    <!--Rutas-->
                    <!--TODO-->
                    <mat-form-field fxFlex="45" color="accent" appearance="outline">
                        <mat-label>{{'route.dialog.paths' | translate}}</mat-label>
                        <input type="text" aria-label="" matInput formControlName="paths"
                               placeholder="{{'route.dialog.paths_example' | translate}}"/>
                        <mat-icon matSuffix matTooltip="{{'route.dialog.paths_tooltip' | translate}}"
                                  matTooltipClass="tooltip-teal">info_outline
                        </mat-icon>
                        <mat-error *ngIf="pathsField.hasError('required')">
                            {{ 'route.dialog.error.path_pattern' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="space-between start" class="margin-bottom-10">
                    <!--Métodos-->
                    <mat-form-field fxFlex="45" color="accent" appearance="outline">
                        <mat-label>{{'route.dialog.methods' | translate}}</mat-label>
                        <mat-select formControlName="methods" multiple>
                            <mat-option *ngFor="let method of validMethods" [value]="method">{{method}}</mat-option>
                        </mat-select>
                        <mat-icon matSuffix matTooltip="{{'route.dialog.methods_tooltip' | translate}}"
                                  matTooltipClass="tooltip-teal">info_outline
                        </mat-icon>
                    </mat-form-field>

                    <!--Redirect-->
                    <mat-form-field fxFlex="20" color="accent" appearance="outline">
                        <mat-label>{{'route.dialog.redirect' | translate}}</mat-label>
                        <mat-select formControlName="https_redirect_status_code">
                            <mat-option *ngFor="let redirect of validRedirectCodes" [value]="redirect">{{redirect}}</mat-option>
                        </mat-select>
                        <mat-icon matSuffix matTooltip="{{'route.dialog.redirect_tooltip' | translate}}"
                                  matTooltipClass="tooltip-teal">info_outline
                        </mat-icon>
                    </mat-form-field>
                </div>
            </div>

            <mat-divider></mat-divider>

            <!-- ADVANCED -->
            <mat-accordion multi displayMode="flat" hideToggle>
                <mat-expansion-panel #matExp disabled>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <button mat-flat-button (click)="matExp.toggle(); $event.stopPropagation();">
                                {{'text.advanced_fields' | translate}}
                            </button>
                        </mat-panel-title>
                        <mat-panel-description fxLayout=" row
                            " fxLayoutAlign="end start">
                            <button mat-icon-button (click)="matExp.toggle(); $event.stopPropagation();">
                                <mat-icon [fxShow]="matExp._getExpandedState()==='collapsed'">expand_more</mat-icon>
                                <mat-icon [fxShow]="matExp._getExpandedState()==='expanded'">expand_less</mat-icon>
                            </button>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div fxLayout="row" fxLayoutAlign="space-between start">
                        <!--Reintentos-->
                        <!--<mat-form-field fxFlex="23" color="accent" appearance="outline" class="margin-bottom-10">
                            <mat-label>{{'route.dialog.retries' | translate}}</mat-label>
                            <input type="number" aria-label="" matInput formControlName="retries"/>
                            <mat-error *ngIf="retriesField.invalid">
                                {{ 'route.dialog.error.retries_min_max' | translate }}
                            </mat-error>
                        </mat-form-field>-->

                        <!--Timeout lectura-->
                        <!--<mat-form-field fxFlex="23" color="accent" appearance="outline">
                            <mat-label>{{'route.dialog.read_timeout' | translate}}</mat-label>
                            <input type="number" aria-label="" matInput formControlName="read_timeout"/>
                            <mat-icon matSuffix matTooltip="{{'route.dialog.read_tooltip' | translate}}"
                                      matTooltipClass="tooltip-teal">info_outline
                            </mat-icon>
                            <mat-error *ngIf="readTimeoutField.invalid">
                                {{ 'route.dialog.error.timeout_min_max' | translate }}
                            </mat-error>
                        </mat-form-field>-->
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between start">
                        <!--Certificado cliente-->
                        <!--<mat-form-field fxFlex="50" color="accent" class="margin-bottom-10" appearance="outline">
                            <mat-label>{{'route.dialog.certificate' | translate}}</mat-label>
                            <mat-select formControlName="client_certificate" [disabled]="certificatesAvailable.length === 0">
                                <mat-option value="{{cert}}" *ngFor="let cert of certificatesAvailable">{{cert}}</mat-option>
                            </mat-select>
                            <mat-icon matSuffix matTooltip="{{'route.dialog.certificate_tooltip' | translate}}"
                                      matTooltipClass="tooltip-teal">info_outline
                            </mat-icon>
                        </mat-form-field>-->

                        <!--TLS-->
                        <mat-form-field fxFlex="20" color="accent" class="margin-bottom-10" appearance="outline">
                            <mat-label>{{'route.dialog.tls_verify' | translate}}</mat-label>
                            <mat-select formControlName="tls_verify">
                                <mat-option value=""></mat-option>
                                <mat-option value="true">true</mat-option>
                                <mat-option value="false">false</mat-option>
                            </mat-select>
                            <mat-icon matSuffix matTooltip="{{'route.dialog.tls_verify_tooltip' | translate}}"
                                      matTooltipClass="tooltip-teal">info_outline
                            </mat-icon>
                        </mat-form-field>

                        <!--TLS Depth-->
                        <mat-form-field fxFlex="25" color="accent" class="margin-bottom-10" appearance="outline">
                            <mat-label>{{'route.dialog.tls_verify_depth' | translate}}</mat-label>
                            <input type="number" aria-label="" matInput formControlName="tls_verify_depth"/>
                            <mat-icon matSuffix matTooltip="{{'route.dialog.tls_verify_depth_tooltip' | translate}}"
                                      matTooltipClass="tooltip-teal">info_outline
                            </mat-icon>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between start">
                        <!--CA Certificates-->
                        <mat-form-field fxFlex="50" color="accent" class="margin-bottom-10" appearance="outline">
                            <mat-label>{{'route.dialog.ca_certificates' | translate}}</mat-label>
                            <textarea aria-label="" matInput formControlName="ca_certificates"
                                      placeholder="{{'route.dialog.ca_certificates_example' | translate}}"></textarea>
                            <mat-icon matSuffix matTooltip="{{'route.dialog.ca_certificates_tooltip' | translate}}"
                                      matTooltipClass="tooltip-teal">info_outline
                            </mat-icon>
                        </mat-form-field>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </form>
    </div>
</mat-dialog-content>

<mat-divider class="margin-bottom-10-i margin-top-10-i"></mat-divider>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between start">
    <div>
        <mat-error *ngIf="form.hasError('finalValidation')">
            {{ 'route.dialog.error.final_validation' | translate }}
        </mat-error>
    </div>

    <div>
        <button mat-button mat-dialog-close="null" color="warn">{{'text.cancel' | translate}}</button>
        <!-- Si a disabled le pasamos una función da error de ExpressionChangedAfterItHasBeenCheckedError -->
        <button mat-flat-button [mat-dialog-close]="onSubmit()" color="accent"
                [disabled]="form.invalid">
            <span *ngIf="!editMode">{{'text.create' | translate}}</span>
            <span *ngIf="editMode">{{'text.edit' | translate}}</span>
        </button>
    </div>
</mat-dialog-actions>

